body {
    font-family: 'Inter', sans-serif;
    /* background: linear-gradient(180deg, #41DCB7 0%, #1DD266 69.27%); */
    min-height: 100vh;
}
body.dark { background: var(--fon-dark); }
/*------------------------------------------*/

/*------------------------------------------*/

.text_light {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.ch {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

/*------------------------------------------*/
.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item2 h4 {
    color: rgb(158, 158, 158);
    font-weight: 400;
    font-size: 14px;
}

.item {
    /* animation-delay: 1s; */
    animation-duration: 1s;
    animation-name: slidein2;
    /* animation-iteration-count: infinite;
    animation-direction: alternate; */
  }

@keyframes slidein2 {
    from {
        margin-top: 100%;
    }
    
    to {

    }
}

/*------------------------------------------*/
.btn__category {
    display: inline-block;
    margin-top: 60px;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    /* margin: 10px 5px; */
    padding: 0.7em 1.5em;
    border-radius: 12px;
    color: #fff;
    font-weight: 500;
    padding: 0.7em 1.5em;
    background: #fff;
}
body.dark .btn__category { background: #0fb8f6; }
@media only screen and (max-width: 720px){
    .btn__category {
        width: 100%;
        padding: 1.5em 1.5em;
    }
}
.icon {
    display: block;
    height: 1.0em;
    width: 1.0em;
    border-radius: 2px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.0em 1.0em;
}
.ico__right {background-image: url(../ico/right.svg);}
/*------------------------------------------*/

.box {
    background: var(--box_dark);
    border-radius: 20px;
}
.box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--box_dark);
    padding: 1em 1em;
    border-radius: 12px;
    cursor: pointer;
}
.box2:hover {
    background: #3787D0;
}
.prog__photo {
    padding-bottom: 70%;
    width: 100%;
    border-radius: 15px;
    background: rgb(247, 247, 247);
    background-image: url(../upr/upr1p2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.flex1 {
    display: flex;
    align-items: center;
    padding: 15px;
}
.ico__dove {
    display: block;
    background-image: url(../ico/done.svg);
    height: 3.0em;
    width: 3.0em;
    border-radius: 2px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 4.0em 4.0em;
    margin-right: 10px;
}

.pad {
    margin-top: 10px;
}