body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #41DCB7 0%, #1DD266 69.27%);
    min-height: 100vh;
}
body.dark  {
    background: var(--fon-dark);
}

/*------------------------------------------*/

/*------------------------------------------*/

.text_light {
    color: #fff;
    font-weight: 500;
    font-size: 26px;
}

/*------------------------------------------*/
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*------------------------------------------*/

.box__done {
    margin-top: 10%;
}
.ch {
    position: absolute;
    bottom: 10px;
    width: 100%;
}


/*------------------------------------------*/
.box {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    /* max-width: 500px; */
    margin-bottom: 20px;
}
/* @media only screen and (max-width: 720px) {
    .box {
        
    }
} */
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 50px; */
}

.item2 h4 {
    color: rgb(158, 158, 158);
    font-weight: 400;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
}
.icon__done {
    margin-bottom: 15px;
	background-image: url(../svg/dove.svg);
	height: 3.6em;
	width: 3.6em;
	/* background-color: rgb(255, 255, 255); */
	box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
	border-radius: 2em;
	background-repeat: no-repeat;
	background-position: center center;
}
.icon__done {
    /* animation-delay: 1s; */
    animation-duration: 0.6s;
    animation-name: slidein;
}
  
  @keyframes slidein {
    from {
      width: 0px;
      height: 0px;
    }
  
    to {
      margin-left: 0%;
    }
}


.item {
    /* animation-delay: 1s; */
    animation-duration: 1s;
    animation-name: slidein2;
    /* animation-iteration-count: infinite;
    animation-direction: alternate; */
  }

@keyframes slidein2 {
    from {
        margin-top: 100%;
    }
    
    to {

    }
}

/*------------------------------------------*/
.btn__category {
    display: inline-block;
    margin-top: 60px;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    /* margin: 10px 5px; */
    padding: 0.7em 1.5em;
    border-radius: 12px;
    color: #fff;
    font-weight: 500;
    padding: 0.7em 1.5em;
    background: #fff;
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20); */
    /* margin-left: 20px; */
}
body.dark .btn__category {
    background: linear-gradient(
        139.21deg
        , #32BCA3 14.62%, #2196F3 124.55%);
}
@media only screen and (max-width: 720px){
    .btn__category {
        width: 100%;
        padding: 1.5em 1.5em;
    }
}
.icon {
    display: block;
    height: 2.0em;
    width: 2.0em;
    border-radius: 2px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.0em 1.0em;
}
.ico__right {background-image: url(../ico/right.svg);}
/*------------------------------------------*/