body {
    font-family: 'Inter', sans-serif;
    /* background: linear-gradient(180deg, #41DCB7 0%, #1DD266 69.27%); */
    min-height: 100vh;
}
body.dark { background: var(--fon-dark); }
/*------------------------------------------*/

/*------------------------------------------*/

.text_light {
    font-weight: 500;
    font-size: 20px;
}

.ch {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

/*------------------------------------------*/
.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item2 h4 {
    color: rgb(158, 158, 158);
    font-weight: 400;
    font-size: 14px;
}
.ann2 {
    /* animation-delay: 1s; */
    animation-duration: 0.6s;
    animation-name: slidein3;
    /* animation-iteration-count: infinite;
    animation-direction: alternate; */
  }

@keyframes slidein3 {
    from {
        opacity: 0;
        margin-bottom: 60px;
        transform: scale(0.2);
    }
    
    to {

    }
}
.ann1 {
    /* animation-delay: 1s; */
    animation-duration: 0.8s;
    animation-name: slidein2;
    /* animation-iteration-count: infinite;
    animation-direction: alternate; */
  }

@keyframes slidein2 {
    from {
        opacity: 0;
        transform: scale(0.6);
    }
    
    to {

    }
}

/*------------------------------------------*/
.btn__category {
    display: inline-block;
    margin-top: 60px;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    padding: 0.7em 1.5em;
    border-radius: 12px;
    background: #0fb8f6;
    color: #fff;
    font-weight: 500;
    padding: 0.7em 1.5em;
}
body.dark .btn__category { background: #3787D0; }
@media only screen and (max-width: 720px){
    .btn__category {
        width: 100%;
        padding: 1.5em 1.5em;
    }
}
.icon {
    display: block;
    height: 1.0em;
    width: 1.0em;
    border-radius: 2px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.0em 1.0em;
}
.ico__right {background-image: url(../ico/right_dark.svg);}
body.dark .ico__right { background-image: url(../ico/right.svg); }
/*------------------------------------------*/

.box {
    background: var(--box_light);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 15%);
    border-radius: 20px;
}
body.dark .box { background: var(--box_dark); }
.box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--box_light);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 15%);
    padding: 1em 1em;
    border-radius: 12px;
    cursor: pointer;
}
body.dark .box2 { background: var(--box_dark); }
.box2:hover { background: #0fb8f6; }
body.dark .box2:hover { background: #3787D0; }
.prog__photo {
    position: relative;
    padding-bottom: 70%;
    width: 100%;
    border-radius: 17px;
    background: rgb(247, 247, 247);
    background-image: url(../img/prog2.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.box__glasses {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    /* bottom: 0px; */
    padding: 1em;
    background: rgba(30, 30, 32, 0.8);
    backdrop-filter: blur(4px);
    border-radius: 15px;
}
.flex1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ico__dove {
    display: block;
    background-image: url(../ico/done.svg);
    height: 3.0em;
    width: 3.0em;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: 4.0em 4.0em; */
    margin-bottom: 10px;
    margin-right: 10px;
}

.pad {
    margin-top: 10px;
}