body {
    font-family: 'Inter', sans-serif;
}
/*------------------------------------------*/



/* ------------------------------------ */
.text__title {
    padding-left: 18px;
    font-weight: 500;
    /* text-align: center; */
}
body.dark .text__title {
    font-weight: 400;
}
@media only screen and (max-width: 720px) {
    .text__title {
        /* text-align: left; */
        padding-left: 12px;
    }
}
/* ------------------------------------ */





/* ------------------------------------ */
/* .slide__box {
    position: absolute;
    right: 33px;
    margin-top: 10px;
    display:table;
    flex-direction: column;
    background: #2C2C2E;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
    padding: 0px;
    border-radius: 12px;
    transition: 0.2s;
}
@media only screen and (max-width: 600px) {
    .slide__box {
		right: 19px;
	}
}
.slide__ico {
	display: block;
	background-image: url(../ico/slide.svg);
	height: 2.2em;
	width: 2.4em;
	border-radius: 12px 12px 0 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1em 1em;
	transition: 0.2s;
}
.slide__ico:hover {
    background-color: #4e4e4e;
    cursor: pointer;
}
.slide__ico2:hover {
    background-color: #06aefc;
    cursor: pointer;
}
.slide__ico2 {
	display: block;
    transform: rotate(180deg);
	background-image: url(../ico/slide.svg);
	height: 2.2em;
	width: 2.4em;
	border-radius: 12px 12px 0 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1em 1em;
	transition: 0.2s;
} */
/* ---------------line----------------- */
/* .line {
    width: 100%;
    background: #1a1a1a;
    height: 2px;
} */
/* ------------------------------------ */





/* --------------Box--------------- */

.box__color {
    background: var(--box_dark);
    border-radius: 18px;
    padding: 20px;
    margin: 20px 0;
    /* transition: 0.3s; */
}
body.dark .box__color {
    border: 0px;
}
@media only screen and (max-width: 420px) {
    .box__color {
        border-radius: 15px;
        padding: 12px;
    }
}
.box {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    /* grid-template-rows: 400px 1fr; */
    grid-gap: 0px 15px;
}
@media only screen and (max-width: 600px) {
    .box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px 40px;
    }
    .item__text {
        grid-row: 2;
    }
    .item:nth-child(4){
        grid-row: 3;
    }
    .item:nth-child(5){
        grid-row: 4;
    }
}
@media only screen and (min-width: 600px) {
    .box {
        align-items: start;
        grid-template-columns: 250px 1fr;
        /* grid-auto-rows: 1fr; */
        grid-gap: 0px 15px;
    }
}
@media only screen and (min-width: 930px) {
    .box {
        align-items: start;
        grid-template-columns: 350px 1fr;
        /* grid-auto-rows: 350px 1fr; */
    }
}
@media only screen and (min-width: 1200px) {
    .box {
        /* align-items: center; */
        grid-template-columns: 350px 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0px 15px;
    }
}
/* ---------------------------------------- */




/* -------------1------------------ */

.photo {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    background: rgb(240, 240, 240);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 102%;
    border-radius: var(--radius);
}
.upr1 {
    background-image: url(../upr/upr1.jpg);
}
.upr2 {
    background-image: url(../upr/upr2.jpg);
}
.upr3 {
    background-image: url(../upr/upr3.jpg);
}

/* -------------2------------------ */

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

@media only screen and (max-width: 720px) {
    .item__text {
        order: 2;
    }
}
.text__p {
    font-size: 16px;
}
@media only screen and (max-width: 420px) {
    .text__p {
        font-size: 14px;
    }
}
.margin__top10 {
    padding-top: 10px;
}
/* ----tag----- */
.box__tag {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}
@media only screen and (max-width: 420px) {
    .box__tag {
        order: 2;
    }
}
.hint__element {
    background: #ff636b;
    border-radius: 4px;
}
.hint__line {
    display: flex;
    width: 3px;
    height: 50%;
    /* background: #ff4851af; */
    border-radius: 4px;
}
@media only screen and (max-width: 420px) { .hint__line { width: 2px; } }
.items__bar {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
@media only screen and (max-width: 420px) {
    .ch1 {
        flex: 100%;
        margin-bottom: 5px;
    }
}
/* ----items----- */

.item-cont2 {
    padding-bottom: 10px;
}
@media only screen and (max-width: 420px) {
    .item-cont2 {
        order: 1;
    }
}



@media only screen and (max-width: 320px) {
    .select {
        grid-template-columns: repeat(1,1fr);;
    }
}
@media only screen and (min-width: 420px) {
    .select {
        grid-template-columns: repeat(3,1fr);;
    }
}






/* ----------------TEG------------------- */
.teg {
    font-weight: 600;
    color: var(--text-dark);
    border: 1px solid #ff636b;
}
body.dark .teg {
    font-weight: 500;
    color: #B9B9BE;
    border: 1px solid #C72A2A;
    background: none;
}
.teg2 {
    font-weight: 600;
    color: #3C3C3E;
    border: 1px solid #3C3C3E;
    margin-top: 4px;
    /* background: transparent; */
}
body.dark .teg2 {
    font-weight: 500;
    color: #c4c4ca;
    border: 1px solid #3C3C3E;
}

.teg, .teg2 {
    margin: 0 0 0 5px;
}
@media only screen and (max-width: 420px) {
    .teg2 {
        margin-top: 5px;
    }
}
/* ------------------------------------- */

/* .txt {
    padding: 30px 0;
    color: #fff;
    font-weight: 500;
} */

/*------------------------------------------*/

/*------------------------------------------*/

.dit {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    /* background: #f5f5f5; */
    padding: 5px 0px;
}