body {
    font-family: 'Inter', sans-serif;
}
body.dark  { background: var(--fon-dark); }
/*------------------------------------------*/


/*------------------------------------------*/
.txt__categoru {
    text-align: left;
    padding-bottom: 20px;
    font-weight: 500;
    transition: 0.3s;
}
body.dark .txt__categoru { font-weight: 400; }
@media only screen and (min-width: 720px) {
    .txt__categoru {
        text-align: center;
        padding-top: 30px;
    }
}

/*------------------------------------------*/


/*------------------MENU--------------------*/
.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    /* grid-gap: 10px; */
    background: var(--box_light);
    border-radius: 12px;
}

body.dark .box { background: var(--box_dark); }

@media only screen and (min-width: 420px){
    .box {
        background: none;
    }
    body.dark .box {
        background: none;
    }
}
.box h4 {font-weight: 500;}

.item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: var(--box_light);
    padding: 1em 1em;
    border-radius: 12px;
    border-bottom: 2px #4343c4;
    min-height: 60px;
}
body.dark .item {
    background: var(--box_dark);
}
.item:hover {
    border: 1px solid #3C3C3E;
    transition: 0.3s;
    transform: scale(1.02);
}
body.dark .item:hover {
    background: #3787D0;
    border: 0px solid #505050;
    /* border: 0px; */
}
.item h4{
    padding-left: 0.8em;
    font-size: 15px;
}

@media only screen and (max-width: 420px) {
    .box {
        grid-template-columns: repeat(1, 1fr);
        /* grid-gap: 10px; */
    }
    .item {
        justify-content: flex-start;
        font-size: 14px;
        padding: 0.6em 0.8em;
    }
}
@media only screen and (min-width: 420px) {
    .box {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    .item {
        justify-content: flex-start;
        font-size: 14px;
    }
}
@media only screen and (min-width: 680px) {
    .box {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
    .item {
        flex-direction: column;
        font-size: 15px;
    }
}
@media only screen and (min-width: 768px) {
    .box {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
}
@media only screen and (min-width: 992px) {
    .box {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 15px;
    }
}
@media only screen and (min-width: 1200px){
    .box {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        padding: 20px;
    }
    .item {
        flex-direction: column;
        font-size: 14px;
    }
    .item h4{
        margin-left: 0px;
    }
}
/*------------------------------------------*/

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item2 {
    display: flex;
    align-items: center;
}


.icon {
    display: block;
    height: 2.0em;
    width: 2.0em;
    border-radius: 2px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.0em 1.0em;
}
.image__programs {
    display: block;
    height: 3.2em;
    width: 3.2em;
    border-radius: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3.2em 3.2em;
}
.ico__right {background-image: url(../ico/right_dark.svg);}
body.dark .ico__right {background-image: url(../ico/right.svg);}
.ico__gr {background-image: url(../upr/scale_1200.jpg);}
body.dark .ico__gr {background-image: url(../upr/tors_dark.png);}
.ico__gr2 {background-image: url(../upr/scale_1200.jpg);}
body.dark .ico__gr2 {background-image: url(../upr/body.png);}

/*-------------------------------------------*/

.search2 {
    width: 100%;
    padding: 1em;
    height: 44px;
    border-radius: 10px;
    border: none;
    background: var(--fon-light);
    border-bottom: 1px solid var(--fon-light);
    box-shadow: var(--shad);
    color: #282828;
    font-size: 15px;
    margin-bottom: 30px;
}
body.dark .search2 {
    color: #fff;
    background: var(--box_dark);
    border-bottom: 1px solid var(--fon-dark);
}
.search2:focus { border-bottom: 1px solid #3787D0; }
.search {
    position: relative;
    
}
.search__ico {
    position: absolute;
    right: 8px;
    top: 5px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
    background-image: url(../ico/search_dark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.2em 1.2em;
}
body.dark .search__ico {
    background-image: url(../ico/search.svg);
}

/*-------------------------------------------*/

/* ---------------------------------------- */
/* ---------------------------------------- */