body {
    font-family: 'Inter', sans-serif;
    transition: background-color 1s; /*Плавный цвет фона*/
    background: #1B1B1B;
    color: #272727;
}
body.dark  {
    background: #1B1B1B; /*Цвет фона*/
}

.txt__categoru {
    padding-top: 20px;
    font-weight: 500;
}
@media only screen and (min-width: 720px) {
    .txt__categoru {
        padding-top: 60px;
    }
}
/*------------------MENU--------------------*/
.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding-top: 20px;
}
.box h4 {font-weight: 400;}
.item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);
    border: 1px solid #e4e4e4;
    background: var(--box_light);
    padding: 0.8em 1em;
    border-radius: 12px;
    cursor: pointer;
}
body.dark .item {
    color: #fff;
    background: linear-gradient(153.22deg, #2c2c2c 51.74%, #202022 134.15%);
    border: 0px;
}
.item h4{
    padding-left: 10px;
    font-size: 14px;
}
.item:hover {
    box-shadow: 0px 0px 4px #2cc3ff;
    transition: 0.3s;
    transform: scale(1.02);
}

@media only screen and (max-width: 380px) {
    .box {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    .item {
        justify-content: flex-start;
        font-size: 14px;
        padding: 0.8em 1em;
    }
}
@media only screen and (min-width: 380px) {
    .box {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    .item {
        justify-content: flex-start;
        font-size: 14px;
    }
}
@media only screen and (min-width: 680px) {
    .box {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
    .item {
        flex-direction: column;
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) {
    .box {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
}
@media only screen and (min-width: 992px) {
    .box {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 15px;
    }
}
@media only screen and (min-width: 1200px){
    .box {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
    .item {
        flex-direction: column;
        font-size: 14px;
    }
    .item h4{
        margin-left: 0px;
    }
}
/*------------------------------------------*/

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item2 {
    display: flex;
    align-items: center;
}


.icon {
    display: block;
    height: 2.0em;
    width: 2.0em;
    border-radius: 2px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.0em 1.0em;
}
.image__programs {
    display: block;
    height: 3em;
    width: 3em;
    border-radius: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3em 3em;
}
.ico__right {background-image: url(../ico/right_dark.svg);}
body.dark .ico__right {background-image: url(../ico/right.svg);}
.ico__gr {background-image: url(../upr/scale_1200.jpg);}

#convas {
    padding-bottom: 0px;
}
#convas2 {
    background: #fff;
    border-radius: 12px 12px 0px 0px;
    padding-bottom: 400px;
    min-height: 100vh;
    
}
body.dark #convas {
    background: none;
}
body.dark #convas2 {
    background: none;
}
#convas2 {
    animation-duration: 1s;
    animation-name: an1;
  }

@keyframes an1 {
    from {
        opacity: 0;
        margin-top: 70px;
        padding: 70px 0;
    }
    
    to {

    }
}
