body {
    font-family: 'Inter', sans-serif;
    transition: background-color 0s;
    /* background: #101010; */
    /* background: #141414; */
    background: #1B1B1B;
    color: #333; /*Цвет текста*/
    /* min-height: 200vh; */
}
body.dark {
    /* background: #19191A; */
    background: linear-gradient(180deg, #1B1B1B 0%, #000000 100%);
    color: rgb(31, 31, 31);
}


.txt__categoru {
    padding-top: 30px;
    /* font-weight: 500; */
}
/* @media screen and (max-width: 720px) {
    .txt__categoru {
        padding-top: 30px;
    }
} */
/*-------------------------------------------*/


/*-------------------TIME-------------------*/
.clock_flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 35px;
    background: #161616;
    border-bottom: 1px solid#111111;
}
#clock {
    color: var(--fon-light);
    font-weight: 400;
    font-size: 14px;
    padding-right: 30px;
}
body.dark #clock {color: var(--text-light);background: #161616;}
@media screen and (max-width: 720px) {
    .clock_flex {
        justify-content: flex-start;
        height: 35px;
    }
    #clock {
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        padding-left: 15px;
    }
}
/*------------------------------------------*/



/*-------------------------------------------*/

@media screen and (max-width: 380px) {
    body.dark .prew {
        position: fixed;
        pointer-events: none;
        width: 100%;
        height: 100px;
        bottom: 0;
        background: linear-gradient(180deg, rgba(39, 39, 39, 0) 0%, #000000 100%);  
    }
}

/*------------------MENU--------------------*/
.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* padding-top: 10%; */
}
.box h4 {font-weight: 500;}
.item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 1.4em 1.2em;
    border-radius: 12px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);
    border: 1px solid #e4e4e4;
    /* text-transform: uppercase; */
    background: var(--box_light);
}
body.dark .item {
    background: var(--box_dark);
    border: 1px solid #131314;
    /* border: 0px; */
}

.item h4{
    padding-top: 5px;
    font-size: 15px;
}
/* body.dark .item h4{
    color: #1C1C1E; font-weight: 600;
} */
@media only screen and (max-width: 680px) {
    .item h4{
        padding-top: 0;
        padding-left: 10px;
    }
}
.item:hover {
    box-shadow: 0px 0px 4px #2cc3ff;
    transition: 0.3s;
    transform: scale(1.02);
    
}
/* body.dark .item:hover {
    box-shadow: 0px 0px 4px rgb(16, 231, 124);
} */
@media only screen and (max-width: 380px) {
    .box {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 10px;
        margin-bottom: 30px;
        grid-gap: 10px;
    }
    .item {
        justify-content: flex-start;
        font-size: 14px;
        padding: 1.2em 1.2em;
    }
}
@media only screen and (min-width: 380px) {
    .box {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 10px;
    }
    .item {
        justify-content: flex-start;
        font-size: 14px;
    }
}
@media only screen and (min-width: 680px) {
    .box {
        grid-template-columns: repeat(3, 1fr);
    }
    .item {
        flex-direction: column;
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) {
    .box {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 992px) {
    .box {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media only screen and (min-width: 1200px){
    .box {
        grid-template-columns: repeat(7, 1fr);
    }
    .item {
        flex-direction: column;
        font-size: 14px;
    }
}
/*------------------------------------------*/
.icon {
    display: block;
    height: 2.0em;
    width: 2.0em;
    border-radius: 2px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.5em 1.5em;
}
.image__programs {background-image: url(../ico/programs_dark.svg);}
body.dark .image__programs {background-image: url(../ico/programs.svg);}
.image__training {background-image: url(../ico/upg2_dark.svg);}
body.dark .image__training {background-image: url(../ico/upg2.svg);}
.image__upr {background-image: url(../ico/upr_dark.svg);}
body.dark .image__upr {background-image: url(../ico/upr.svg);}
.image__calendar {background-image: url(../ico/calendar_dark.svg);}
.image__new {background-image: url(../ico/new_dark.svg);}
/* .image__file {background-image: url(../ico/file.svg);} */
.image__progress {background-image: url(../ico/progress_dark.svg);}
.image__box {background-image: url(../ico/box_dark.svg);}
body.dark .image__calendar {background-image: url(../ico/calendar.svg);}
body.dark .image__new {background-image: url(../ico/new.svg);}
body.dark .image__file {background-image: url(../ico/file.svg);}
body.dark .image__progress {background-image: url(../ico/progress.svg);}
body.dark .image__box {background-image: url(../ico/box.svg);}
@media only screen and (min-width: 768px){
    .icon {
        background-size: 1.8em 1.8em;
    }
}

/*------------------------------------------*/ 











/*------------------------------------------*/

.card_help {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    /* margin-bottom: 60px; */
    /* border: 1px dashed #aaaaaa; */
    background: var(--box_light);
    border: 1px solid #e4e4e4;
}
body.dark .card_help {
    background: var(--box_dark);
    border: 1px solid #131314;
    /* border: 1px dashed #252525; */  
}
@media only screen and (max-width: 420px) {
    .card_help {
        text-align: left;
        align-items: flex-start;
        padding: 20px; 
    }
}
/*------------------------------------------*/





/*------------------------------------------*/
.text_help {
    font-size: 14px;
    color: #9c9c9c;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*------------------------------------------*/





/*-----------------FOOTER-------------------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.create{margin: auto; text-align: center;}

/*------------------------------------------*/

#convas {
    padding-bottom: 20px;
}
body.dark #convas {
    background: none;
    
}
#convas2 {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fff;
    border-radius: 12px 12px 0px 0px;
    min-height: 100vh;
}
@media screen and (max-width: 720px) {
    #convas2 {
        padding-top: 20px;
    }
}
body.dark #convas2 {
    background: #131314;
    border: 1px solid #0B0B0C;
}
#convas2 {
    animation-duration: 0.6s;
    animation-name: an1;
  }

@keyframes an1 {
    from {
        margin-top: 60px;
        padding: 50px 0;
    }
    
    to {

    }
}
/*------------------------------------------*/

.btn__setting {
    padding: 5px 10px;
    padding: 0.1em 0.1em;
    /* background: #272829; */
    border-radius: 2em;
    margin-left: 8px;
}
.btn__setting:hover {
    background: linear-gradient(130deg, #0099ff 16.28%, #FA00FF 224.54%);
}
.ico__setting {
	display: block;
	background-image: url(../ico/setting.svg);
	height: 2em;
	width: 2em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.5em 1.5em;
	transition: 0.2s;
}
/*------------------------------------------*/


.prog__prev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    max-width: 400px;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    padding: 20px;
    border-radius: 12px;
}
body.dark .prog__prev {
    background: var(--box_dark);
    border: 1px solid #131314;
}
@media screen and (max-width: 720px) {
    .prog__prev {
        padding: 15px;
    }
}
.txt__prog_prew1 { font-weight: 500; color: var(--text-dark); padding-bottom: 10px; padding-top: 20px; }
.txt__prog_prew2 { color: var(--text-dark); }
.txt__prog_prew3 { font-weight: 500; color: var(--text-dark); padding-top: 5px ;}
/*------------------------------------------*/
body.dark .txt__prog_prew2 {
    color: #E6E6E6;
}
body.dark .txt__prog_prew3 {
    color: #b8b8b8;
}

/* .flex {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}
.foto {
    display: block;
    width: 100px;
    height: 150px;
    background: rgb(247, 247, 247);
    background-image: url(../svg/undraw_home_screen_4n7s.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.foto_txt {padding-left: 15px;} */
