body {
    font-family: 'Inter', sans-serif;
    transition: background-color 0s;
    background: var(--fon-dark);
    /* min-height: 200vh; */
}
body.dark {
    background: #19191A;
    background: var(--fon-dark); /*Цвет фона*/
    /* background: #141414; */
}


.txt__categoru {
    padding-top: 30px;
    /* font-weight: 500; */
}
/* @media screen and (max-width: 720px) {
    .txt__categoru {
        padding-top: 30px;
    }
} */
/*-------------------------------------------*/


/*-------------------TIME-------------------*/
.clock_flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 35px;
    background: #161616;
    border-bottom: 1px solid#111111;
}
body.dark .clock_flex {
    background: #09090a;
}
#clock {
    color: var(--fon-light);
    font-weight: 400;
    font-size: 14px;
    padding-right: 30px;
}
body.dark #clock {color: var(--text-light);background: #09090a;}
@media screen and (max-width: 720px) {
    .clock_flex {
        justify-content: flex-start;
        height: 35px;
    }
    #clock {
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        padding-left: 15px;
    }
}
/*------------------------------------------*/



/*-------------------------------------------*/

@media screen and (max-width: 380px) {
    body.dark .prew {
        position: fixed;
        pointer-events: none;
        width: 100%;
        height: 100px;
        bottom: 0;
        background: linear-gradient(180deg, rgba(39, 39, 39, 0) 0%, #000000 100%);  
    }
}

/*------------------MENU--------------------*/
.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
    /* padding-top: 10%; */
    transition: 0.6s;
}
.box h4 {font-weight: 500;}
.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.4em 1.2em;
    border-radius: 12px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);
    border: 1px solid #e4e4e4;
    /* text-transform: uppercase; */
    background: var(--box_light);
}
body.dark .item {
    background: var(--box_dark);
    border: 1px solid var(--box_dark)
    /* border: 0px; */
}
body.dark .item:hover {
    background: var(--box_dark);
    border: 1px solid #505050;
    /* border: 0px; */
}
.item h4{
    padding-top: 5px;
    font-size: 15px;
}
/* body.dark .item h4{
    color: #1C1C1E; font-weight: 600;
} */
@media only screen and (max-width: 680px) {
    .item h4{
        padding-top: 4px;
        padding-left: 0px;
    }
}
.item:hover {
    /* box-shadow: 0px 0px 4px #3C3C3E; */
    border: 1px solid #3C3C3E;
    transition: 0.3s;
    transform: scale(1.02);
    
}
/* body.dark .item:hover {
    box-shadow: 0px 0px 4px rgb(16, 231, 124);
} */
@media only screen and (max-width: 380px) {
    .box {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        margin-bottom: 10px;
        grid-gap: 10px;
    }
    .item {
        justify-content: flex-start;
        font-size: 14px;
        padding: 1em 1em;
    }
}
@media only screen and (min-width: 380px) {
    .box {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 15px;
    }
    .item {
        justify-content: flex-start;
        font-size: 14px;
    }
}
@media only screen and (min-width: 680px) {
    .box {
        grid-template-columns: repeat(3, 1fr);
    }
    .item {
        flex-direction: column;
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) {
    .box {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 992px) {
    .box {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 1200px){
    .box {
        grid-template-columns: repeat(6, 1fr);
    }
    .item {
        flex-direction: column;
        font-size: 14px;
    }
}
/*------------------------------------------*/
.icon {
    display: block;
    height: 2.5em;
    width: 2.5em;
    border-radius: 2px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2.5em 2.5em;
}
.image__programs {background-image: url(../ico/Group\ 118.png);}
body.dark .image__programs {background-image: url(../ico/Group\ 118.png);}
.image__training {background-image: url(../ico/Group\ 120.png);}
body.dark .image__training {background-image: url(../ico/Group\ 120.png);}
.image__upr {background-image: url(../ico/Group\ 121.png);}
body.dark .image__upr {background-image: url(../ico/Group\ 121.png);}
.image__stopwatch {background-image: url(../ico/Frame\ 4.png);}
.image__new {background-image: url(../ico/Frame\ 6.png);}
/* .image__file {background-image: url(../ico/file.svg);} */
.image__progress {background-image: url(../ico/Frame\ 5.png);}
.image__box {background-image: url(../ico/Frame\ 7.png);}
body.dark .image__stopwatch {background-image: url(../ico/Frame\ 4.png);}
body.dark .image__new {background-image: url(../ico/Frame\ 6.png);}
body.dark .image__file {background-image: url(../ico/file.svg);}
body.dark .image__progress {background-image: url(../ico/Frame\ 5.png);}
body.dark .image__box {background-image: url(../ico/Frame\ 7.png);}
@media only screen and (min-width: 700px){
    .icon {
        height: 3em;
        width: 3em;
        background-size: 3em 3em;
    }
}

/*------------------------------------------*/ 


.head__text {
    padding-left: 10px;
}








/*------------------------------------------*/

.card_help {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    /* margin-bottom: 60px; */
    /* border: 1px dashed #aaaaaa; */
    background: var(--box_light);
    border: 1px solid #e4e4e4;
}
body.dark .card_help {
    background: var(--box_dark);
    border: 0px solid #131314;
    /* border: 1px dashed #252525; */  
}
@media only screen and (max-width: 420px) {
    .card_help {
        text-align: left;
        align-items: flex-start;
        padding: 20px; 
    }
}
/*------------------------------------------*/





/*------------------------------------------*/
.text_help {
    font-size: 15px;
    color: var(--text-dark);
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
body.dark .text_help {
    color: #b8b8b8;; 
}
@media only screen and (max-width: 720px) {.text_help { font-size: 14px; }}
/*------------------------------------------*/





/*-----------------FOOTER-------------------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.create{margin: auto; text-align: center;}

/*------------------------------------------*/

#convas {
    /* padding-bottom: 20px; */
    transition: 0.3s;
}
@media screen and (max-width: 720px) {
    #convas {
        padding-bottom: 15px;
    }
}
body.dark #convas {
    background: none;
    
}
#convas2 {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fff;
    border-radius: 18px 18px 0px 0px;
    min-height: 100vh;
    /* transition: 0.6s; */
}
@media screen and (max-width: 720px) {
    #convas2 {
        padding-top: 20px;
        border-radius: 15px 15px 0px 0px;
    }
}
body.dark #convas2 {
    background: #111111;
    /* border-top: 1px solid #0B0B0C; */
}
#convas2 {
    animation-duration: 0.6s;
    animation-name: an1;
  }

@keyframes an1 {
    from {
        margin-top: 60px;
        padding: 50px 0;
    }
    
    to {

    }
}
/*------------------------------------------*/

.btn__setting {
    padding: 5px 10px;
    padding: 0.1em 0.1em;
    /* background: #272829; */
    border-radius: 2em;
    margin-left: 8px;
}
.btn__setting:hover {
    background: linear-gradient(140deg, #32BCA3 15%, #2196F3 120%);
}
.ico__setting {
	display: block;
	background-image: url(../ico/setting.svg);
	height: 2em;
	width: 2em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.5em 1.5em;
	transition: 0.2s;
}
/*------------------------------------------*/


.prog__prev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    max-width: 400px;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    padding: 20px;
    border-radius: 12px;
    /* transition: 0.6s; */
}
body.dark .prog__prev {
    background: var(--box_dark);
    border: 0px solid #131314;
}
@media screen and (max-width: 720px) {
    .prog__prev {
        padding: 15px;
    }
}
.txt__prog_prew1 { font-weight: 500; color: var(--text-dark); padding-bottom: 10px; padding-top: 20px; }
/* .txt__prog_prew2 { color: #F2F2F2; } */
.txt__prog_prew3 { font-weight: 500; color: var(--text-dark); padding-top: 5px ;}
/*------------------------------------------*/
body.dark .txt__prog_prew2 {
    color: #E6E6E6;
}
body.dark .txt__prog_prew3 {
    color: #b8b8b8;
}

/* .flex {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}
.foto {
    display: block;
    width: 100px;
    height: 150px;
    background: rgb(247, 247, 247);
    background-image: url(../svg/undraw_home_screen_4n7s.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.foto_txt {padding-left: 15px;} */

.child {
        
    grid-column: 0;
}

@media only screen and (max-width: 760px) {
    .child {
        
        grid-column: 1fr;
    }
}
