body {
    font-family: 'Inter', sans-serif;
    transition: background-color .3s; /*Плавный цвет фона*/
    background: linear-gradient(180deg, #1B1B1B 0%, #000000 100%);
    /* color: #333; */
    min-height: 120vh;
}
body.dark  {
    background: #0F0F10; /*Цвет фона*/
}
/*-----------------SCROLLBAR-----------------*/
body::-webkit-scrollbar {width: 8px;}
body::-webkit-scrollbar-track {background-color: #adadad;}
body::-webkit-scrollbar-thumb {background-color: #333;}
/*-------------------------------------------*/

.title {
    /* text-align: center; */
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    padding-top: 10%;
    padding-bottom: 15px;
}
.title2 {
    /* text-align: center; */
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    padding-top: 60px;
    padding-bottom: 15px;
}

.box {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 15px 15px;
    margin-top: 20px;
    
}
@media only screen and (max-width: 800px) {
    .box {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 800px) {
    .box {
        grid-template-columns: repeat(2, 1fr);
    }
}

.box__items {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 20px 20px;
    border-radius: 12px;
    background: linear-gradient(153.22deg, #272727 51.74%, #1d1d1f 134.15%);
}
.box__items2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line {
    height: 2px;
    width: 100%;
    margin-bottom: 15px;
    background: rgb(26, 26, 26);
}
p {margin: 15px 0; color: rgb(175, 175, 175); font-size: 14px;}
.qs__section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}
.qs__section3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 4px;
    background: rgb(44, 44, 44);
}
.item2 {
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 4px;
    background: linear-gradient(135deg, #1AA88E 0%, #00B2FF 100%);
}

.txt__qs {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}
@media only screen and (max-width: 800px) {
    .txt__qs {
        font-size: 18px;
    }
}
@media only screen and (min-width: 800px) {
    .box {
        grid-template-columns: repeat(2, 1fr);
    }
}
.txt__qs2 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.btn__start {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    border-radius: 2em;
    font-size: 16px;
    padding: 0.7em 1.5em;
    background: linear-gradient(136.2deg, #32BC59 16.28%, #2196F3 224.54%);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.38);
}
.btn__start2 {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    border-radius: 2em;
    font-size: 16px;
    padding: 0.7em 1.5em;
    background: linear-gradient(136.2deg, #FFBC10 16.28%, #FA00FF 224.54%);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.38);
}
.btn__start:hover {
    background: linear-gradient(136.2deg, #00D1FF 16.28%, #FA00FF 224.54%);
}
.btn__start2:hover {
    background: linear-gradient(136.2deg, #00D1FF 16.28%, #FA00FF 224.54%);
}


.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
@media only screen and (max-width: 870px) {
    .flex {
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.box2 {
    padding: 10px;
    width: 600px;
}
@media only screen and (max-width: 870px) {
    .box2 {
        padding: 0px;
        margin: 0;
        margin-bottom: 15px;
    }
}
.box3 {
    background: linear-gradient(153.22deg, #272727 51.74%, #1d1d1f 134.15%);
    padding: 20px;
    border-radius: 12px;
    
}
.box__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}