body {
    font-family: 'Inter', sans-serif;
    background: var(--fon-dark);
    /* transition: background-color 1s; */
}

.text_day {
    font-size: 20px;
    font-weight: 500;
}
/* .text_day_none {
    color: #2D2D2D;
    font-size: 24px;
    font-weight: 400;
} */


/*----------------CALENDAR-----------------*/
.select, .sel_done, .sel_none {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 1.4em 1.2em;
    background: none;
    /* text-shadow: 0px 2px 2px #0d0f11b9; */
    transition: 0.2s;
}
.select, .sel_done { background: var(--color-box); 
    /* border: 1px solid #2D2D2D; */
}
.select:hover {
    /* border: 1px solid #3C3C3E; */
    transition: 0.2s;
}
.select:hover {
    background: #313134;
    /* border: 1px solid #C72A2A; */
    transform: scale(1.04);
}

.sel_none {
    color: #2d2d2d00;
    border: 1px dashed #272728;
}
/* body.dark .select h2{
    color: #2C2C2E;
} */

.sel_done {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 1.4em 1.2em;
    background: #1d1d1d;
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20); */
    /* text-shadow: 0px 2px 2px #0d0f11b9; */
}
.text_day2{
    font-size: 15px;
}
.txt__callend {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-txt);
}


.calendar {
    position: relative;
    display: grid;
    /*flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;        68%*/
    grid-template-columns: repeat(6,1fr);
    grid-gap: 12px 12px; /*92%*/
}
@media only screen and (max-width: 320px) {
    .calendar {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;}
    .select {
        padding: 1em 1.2em;
    }
    .select h4 {
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 0px;
    }  
}
@media only screen and (min-width: 320px) {
    .calendar {grid-template-columns: repeat(4,1fr);}
    .select {
        padding: 1.2em 1em;
    }
}
@media only screen and (min-width: 600px) {
    .calendar {grid-template-columns: repeat(5,1fr);}
}
@media only screen and (min-width: 800px) {
    .calendar {grid-template-columns: repeat(4,1fr);}
}
@media only screen and (min-width: 1100px) {
    .calendar {grid-template-columns: repeat(5,1fr);}
}
@media only screen and (min-width: 1200px) {
    .calendar {grid-template-columns: repeat(6,1fr);}
}
@media only screen and (min-width: 1600px) {
    .calendar {grid-template-columns: repeat(6,1fr);}
}
/*------------------------------------------*/
/*------------------------------------------*/
/*------------------------------------------*/
/*------------------------------------------*/


/*------------------------------------------*/

.icon__done, .icon__404 {
    /* position: absolute; */
    /* bottom: 2px; */
    /* right: 2px; */
	height: 1.8em;
	width: 1.8em;
	background-repeat: no-repeat;
	background-position: center center;
    background-size: 2em 2em;
}
.icon__done { background-image: url(../ico/ease.svg); }
.icon__404 { background-image: url(../ico/404.svg); }

/*------------------------------------------*/





/*------------------------------------------*/

/*------------------------------------------*/

.calenrar_txt {
    font-size: 17px;
    font-weight: 400;
}

/*------------------------------------------*/

/*------------------------------------------*/

/*------------------------------------------*/

/*------------------------------------------*/


.box__dished {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding: .6em .8em;
    border-radius: 10px;
    border: 1px dashed #303030;
    margin-top: 20px;
    margin-bottom: 15px;
    gap: 10px;
}

.text__dished {font-size: 14px; font-weight: 400; padding-right: 12px;}

@media only screen and (min-width: 720px) { .text__dished { font-size: 15px; }}
/*------------------------------------------*/

.margin__p { margin-bottom: 20px;}
/*------------------------------------------*/





/*------------------------------------------*/
.note {
    display: block;
	background-image: url(../ico/note.svg);
	height: 1.6em;
	width: 1.6em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.4em 1.4em;
}

/*------------------------------------------*/

.txt__qs {
    font-size: 17px;
    font-weight: 500;
    margin-right: 10px;
}

/* ---------------------------------------- */

.description {
    margin: 50px auto;
}
.description h3 {
    font-weight: 400;
}
/*------------------------------------------*/

.details {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    /* height: 200px; */
    /* overflow: auto; */
    position: relative;
    margin: 20px auto;
    transition: 0.3s;
}
.details[open] {
    /* position: relative; */
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    background: #1a1a1a;
    border: 1px solid #212124;
    transition: 0.3s;
}

@media screen and (min-width: 720px) {
    .details[open] {
        background: #1a1a1a;
        padding: 15px;
        margin-top: 40px;
    }
}
summary h2 {
    font-size: 15px;
    margin-right: 10px;
}
summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}
@media screen and (min-width: 720px) {
    summary:hover {
        background: rgba(36, 36, 36, 0.400);
        padding-left: 10px;
        padding-right: 2px;
        transition: 0.3s;
    }
}


details summary:before {
    content: ' ';
    height: 2.2em;
    width: 2.2em;
    background-image: url(../ico/button_dark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
    order: 1;
}
details[open] summary:before {
    content: ' ';
    height: 2.2em;
    width: 2.2em;
    background-image: url(../ico/top_dark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
}

.flex__dit {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.flex__dit h4{
    display: flex;
    justify-content: space-between;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
}
/*------------------------------------------*/
.wrap {
    position: relative;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin: 0px auto;
    /* width: 70%; */
    position: relative;
    margin-bottom: 50vh;
    transition: .2s;
}
@media only screen and (max-width: 800px) {
    .wrap { grid-template-columns: 1fr; grid-template-rows: 1fr 1px 2fr; }
}
.section1 p{
    font-size: 14px;
    color: #9F9F9F;
    line-height: 150%;
    padding: 10px 0;
}
.detalise { margin-top: 30px;}


.div_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 420px) {
    .div_flex { flex-direction: column; gap: 20px;}
}

.section_line {
    background: #272728;
}
.section2 {
    justify-items: start;
}
.img_prog {
    position: relative;
    background-image: url(../img/prog2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 60%;
    border-radius: 10px;
    background-size: 100%;
    transition: .3s;
}
.img_prog:hover {
    /* padding-top: 70%; */
    background-size: 106%;
}

.btn_start {
    padding: .6em 1.4em;
    border-radius: 8px;
    color: #f2f2f2;
    font-size: 15px;
    border: 1px solid #2c86d3;
    background: #2c86d3;
    transition: .2s;
}
.btn_start:hover {
    
    border: 1px solid #f2f2f2;
    
}

.btn_op {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    border-radius: 8px;
    padding: .8em 1em;
    font-size: 12px;
    color: var(--color-txt);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 6px;
    background: rgba(30, 30, 32, 0.7);
    backdrop-filter: blur(30px);
}
.btn_op:hover {
    background: rgba(51, 51, 54, 0.7);
    backdrop-filter: blur(30px);
}



.flex_tag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
}
.btn_teg2 {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    padding: 0.6em 1.2em;
    border-radius: 8px;
}
.teg {
    font-weight: 500;
    color: #c4c4ca;
    border: 1px solid #3C3C3E;
    /* background: transparent; */
}
