body {
    font-family: 'Inter', sans-serif;
    transition: background-color .3s; /*Плавный цвет фона*/
    background: linear-gradient(180deg, #1B1B1B 0%, #000000 100%);
    /* color: #333; */
    min-height: 100vh;
}
body.dark  {
    background: #0F0F10; /*Цвет фона*/
}
/*-----------------SCROLLBAR-----------------*/
body::-webkit-scrollbar {width: 8px;}
body::-webkit-scrollbar-track {background-color: #adadad;}
body::-webkit-scrollbar-thumb {background-color: #333;}
/*-------------------------------------------*/

.title {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20%;
}

.box {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
}
.section1 {
    width: 100%;
}
.min__box {
    background: rgb(49, 49, 51);
    color: rgb(252, 252, 252);
    padding: 50px;
}
.section2 {
    background: rgb(33, 33, 34);
    width: 100%;
    padding: 30px;
}
.info {
    background: rgb(39, 39, 39);
    padding: 30px;
    border-radius: 12px;
}
.img__prew {
    width: 100%;
    padding-top: 400px;
    background-image: url(../program_1/tren.jpg);
    background-position: center;
    background-size: cover;
}