body {
    font-family: 'Inter', sans-serif;
    transition: background-color .3s; /*Плавный цвет фона*/
    /* background: #FCFCFC; */
    /* background: #101010; */
    background: #141414;
    min-height: 150vh;
    color: #272727;
}
body.dark  {
    background: var(--fon-light); /*Цвет фона*/
}
/*-----------------SCROLLBAR-----------------*/
body::-webkit-scrollbar {width: 8px;}
body::-webkit-scrollbar-track {background-color: #adadad;}
body::-webkit-scrollbar-thumb {background-color: #333;}
/*-------------------------------------------*/



.flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 15%;
    padding-left: 20px;
    padding-right: 20px;
}
@media only screen and (max-width: 870px) {
    .flex {
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.box {
    /* background: linear-gradient(153.22deg, #272727 51.74%, #1d1d1f 134.15%); */
    background: #222222;
    padding: 20px;
    border-radius: 12px;
    width: 600px;
    margin: 10px;
}
@media only screen and (max-width: 870px) {
    .box {
        padding: 15px;
        margin: 0;
        margin-bottom: 30px;
    }
}
.box__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}
.box__item__bat {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 10px;
}
p {
    color: #8F8F8F;
    padding: 20px 0;
}
.line {
    border-bottom: 1px dashed #1C1C1E;
    padding: 5px 0;
}




.btn__start {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    border-radius: 2em;
    cursor: pointer;
    font-size: 16px;
    padding: 0.7em 1.5em;
    background: linear-gradient(136.2deg, #32BC59 16.28%, #2196F3 224.54%);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.38);
    margin-right: 10px;
    margin-top: 10px;
}
.btn__start:hover {
    background: linear-gradient(136.2deg, #00D1FF 16.28%, #FA00FF 224.54%);
}
.btn__start2 {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    border-radius: 2em;
    font-size: 16px;
    padding: 0.7em 1.5em;
    background: linear-gradient(136.2deg, #FFBC10 16.28%, #FA00FF 224.54%);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.38);
    margin-top: 10px;
}
.btn__start2:hover {
    background: linear-gradient(136.2deg, #00D1FF 16.28%, #FA00FF 224.54%);
}