body {
    font-family: 'Inter', sans-serif;
    background: #151516;
    /* transition: background-color 1s; */
}
body.dark  { background: #060606; }


.text_day {
    font-size: 24px;
}
.text_day_none {
    color: #dadada;
    font-size: 22px;
    font-weight: 400;
}
body.dark .text_day_none {
    color: #2D2D2D;
    font-size: 24px;
}




/*----------------CALENDAR-----------------*/
.select {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 1.4em 1.2em;
    background: none;
    border: 1px solid #b4b4b4;
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20); */
    /* text-shadow: 0px 2px 2px #0d0f11b9; */
}
.select:hover {
    border: 1px solid #3C3C3E;
    transition: 0.2s;
}
.select:hover {
    transform: scale(1.02);
}
body.dark .select {
    background: none;
    border: 1px solid #2D2D2D;
}
body.dark .select:hover {
    border: 1px solid #C72A2A;
}
/* body.dark .select h2{
    color: #2C2C2E;
} */

.select2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 1.4em 1.2em;
    background: #1d1d1d;
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20); */
    /* text-shadow: 0px 2px 2px #0d0f11b9; */
}
.text_day2{
    font-size: 15px;
}
.txt__callend {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-light);
    margin-bottom: 20px;
    margin-top: 30px;
}

.calendar {
    position: relative;
    display: grid;
    /*flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;        68%*/
    grid-template-columns: repeat(6,1fr);
    grid-gap: 12px 12px; /*92%*/
    padding-bottom: 100px;
}
@media only screen and (max-width: 320px) {
    .calendar {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;}
    .select {
        padding: 1em 1.2em;
    }
    .select h4 {
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 0px;
    }  
}
@media only screen and (min-width: 320px) {
    .calendar {grid-template-columns: repeat(4,1fr);}
    .select {
        padding: 1.2em 1em;
    }
}
@media only screen and (min-width: 600px) {
    .calendar {grid-template-columns: repeat(6,1fr);}
}
@media only screen and (min-width: 800px) {
    .calendar {grid-template-columns: repeat(8,1fr);}
}
@media only screen and (min-width: 1100px) {
    .calendar {grid-template-columns: repeat(8,1fr);}
}
@media only screen and (min-width: 1200px) {
    .calendar {grid-template-columns: repeat(8,1fr);}
}
@media only screen and (min-width: 1600px) {
    .calendar {grid-template-columns: repeat(10,1fr);}
}
/*------------------------------------------*/
/*------------------------------------------*/
/*------------------------------------------*/
/*------------------------------------------*/


/*------------------------------------------*/
.icon__404 {
    position: absolute;
    right: 15px;
	background-image: url(../ico/404.svg);
	height: 2.2em;
	width: 2.2em;
	box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
	background-repeat: no-repeat;
	background-position: center center;
    background-size: 3.2em 3.2em;
}
.icon__done {
    position: absolute;
    bottom: 2px;
    right: 2px;
	background-image: url(../ico/done2.svg);
	height: 2.2em;
	width: 2.2em;
	background-repeat: no-repeat;
	background-position: center center;
    background-size: 1.5em 1.5em;
}
/*------------------------------------------*/





/*------------------------------------------*/

/*------------------------------------------*/

.calenrar_txt {
    font-size: 18px;
    font-weight: 600;
}
body.dark .calenrar_txt {
    font-size: 17px;
    font-weight: 400;
}
/*------------------------------------------*/

/*------------------------------------------*/

/*------------------------------------------*/

/*------------------------------------------*/


.box__dished {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    border: 1px dashed #d1d1d1;
    padding-top: 15px;
    margin-bottom: 15px;
}
body.dark .box__dished {
    border: 1px dashed #303030;
}
.text__dished {font-size: 14px; font-weight: 500; padding-right: 12px;}
body.dark .text__dished { font-weight: 400; }
@media only screen and (min-width: 720px) { .text__dished { font-size: 15px; }}
/*------------------------------------------*/

.margin__p { margin-bottom: 20px;}
/*------------------------------------------*/





/*------------------------------------------*/
.note {
    display: block;
	background-image: url(../ico/note_dark.svg);
	height: 1.6em;
	width: 1.6em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.4em 1.4em;
    margin-right: 0.6rem;
}
body.dark .note {
    background-image: url(../ico/note.svg);
}
/*------------------------------------------*/


#convas_no_padding {
    padding-top: 0px;
    padding-bottom: 60px;
    background: #fff;
    min-height: 100vh;
}
@media only screen and (min-width: 520px) {
    #convas_no_padding {
        padding-top: 30px;
    }
}
body.dark #convas_no_padding {
    background: var(--fon-dark);
    /* border-top: 1px solid #0B0B0C; */
}

#convas_no_padding {
    /* animation-delay: 1s; */
    animation-duration: 0.5s;
    animation-name: convas_no_padding;
    transition-timing-function: ease-in-out;
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}
/* ----------------Animate----------------- */

@keyframes convas_no_padding {
    from {
        padding-top: 100px;
    }
    
    to {

    }
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.prew__prog {
    background-image: url(../img/prog2.webp); background-position: bottom;
    margin-bottom: 30px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
    border: 1px solid #e4e4e4;
}
body.dark .prew__prog {
    border: 1px solid #2c2c31;
}
@media screen and (min-width: 720px) {
    .prew__prog {
        padding-top: 200px;
        width: 400px;
    }
}
@media screen and (max-width: 720px) {
    .prew__prog {
        padding-top: 50%;
    }
}


.box__prew {
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
    backdrop-filter: blur(20px);
    border-radius: 15px;
}
body.dark .box__prew {
    background: rgba(30, 30, 32, 0.7);
    backdrop-filter: blur(30px);
}
.txt__qs {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}
body.dark .txt__qs {
    font-weight: 500;
}
.progress {
    font-size: 14px;
    font-weight: 400;
}
/* ---------------------------------------- */


/*------------------------------------------*/

.dital {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    /* height: 200px; */
    /* overflow: auto; */
    position: relative;
    transition: 0.3s;
}
.dital[open] {
    margin-top: 20px;
    margin: -15px;
    border-radius: 16px;
    margin-top: 5px;
    padding: 15px;
    background: #ffffffe0;
    border: 1px solid #dadadf;
    transition: 0.3s;
}
body.dark .dital[open] {
    background: #1d1d1dc7;
    border: 1px solid #2c2c31;
}
@media screen and (min-width: 720px) {
    .dital[open] {
        position: relative;
        background: #14141441;
        padding: 20px;
        /* margin: -20px; */
        margin-top: 20px;
        border-radius: 16px;
    }
}
summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}
@media screen and (min-width: 720px) {
    summary:hover {
        background: rgba(19, 19, 19, 0.3);
        padding-left: 10px;
        padding-right: 2px;
        transition: 0.3s;
    }
}


details summary:before {
    content: ' ';
    height: 2.2em;
    width: 2.2em;
    background-image: url(../ico/button_dark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
    order: 1;
}
details[open] summary:before {
    content: ' ';
    height: 2.2em;
    width: 2.2em;
    background-image: url(../ico/top_dark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
}

.flex__dit {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.flex__dit h4{
    display: flex;
    justify-content: space-between;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
}
/*------------------------------------------*/



