body {
    font-family: 'Inter', sans-serif;
    background: #222222;
}
body.dark  {
    background: #060606;
}




.img__prog1 {
    border-radius: 12px 12px 0px 0px;
    /* display: block; */
    padding-bottom: 60%;
    width: 100%;
    background: rgb(247, 247, 247);
    
    
}



.upr {
    color: var(--text-dark);
    font-weight: 500;
    /* transition: 0.3s; */
}
body.dark .upr {
    font-weight: 400;
    color: var(--text-light);
    
}
.m_top_60px {
    margin-top: 60px;
    margin-left: 20px;
}
.m_top_20px {
    padding-top: 20px;
    margin-left: 20px;
}
@media only screen and (max-width: 420px) {
    .m_top_60px {
        margin-left: 12px;
    }
    .m_top_20px {
        margin-left: 12px;
    }
}

/* --------------Box--------------- */
.upr2 { margin-bottom: 10px;}
.box__color {
    border-radius: 8px;
    /* border: 1px solid #e5e5e5; */
    margin: 20px 0;
    /* transition: 0.3s; */
}
body.dark .box__color {
    border: 0px;
}
@media only screen and (max-width: 420px) {
    .box__color {
        border-radius: 12px;
    }
}
.box {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    /* grid-template-rows: 400px 1fr; */
    grid-gap: 0px 15px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
    .box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px 40px;
    }
    .item__text {
        grid-row: 2;
    }
    .item:nth-child(4){
        grid-row: 3;
    }
    .item:nth-child(5){
        grid-row: 4;
    }
}
@media only screen and (min-width: 600px) {
    .box {
        align-items: start;
        grid-template-columns: 250px 1fr;
        /* grid-auto-rows: 1fr; */
        grid-gap: 0px 15px;
    }
}
@media only screen and (min-width: 930px) {
    .box {
        align-items: start;
        grid-template-columns: 350px 1fr;
        /* grid-auto-rows: 350px 1fr; */
    }
}
@media only screen and (min-width: 1200px) {
    .box {
        /* align-items: center; */
        grid-template-columns: 350px 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0px 15px;
    }
}
/* -------------1------------------ */

.photo {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    border-radius: 8px;
    background: rgb(247, 247, 247);
    background-image: url(../upr/upr1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
body.dark .photo {
    background-image: url(../upr/upr1p2.jpg);
}
/* -------------2------------------ */

.item {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
/* ----text----- */
/* .item__text::-webkit-scrollbar {width: 3px;}
.item__text::-webkit-scrollbar-track {background-color: #e2e2e2;}
.item__text::-webkit-scrollbar-thumb {background-color: rgb(190, 190, 190);} */

.dit {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    /* background: #f5f5f5; */
    padding: 5px 0px;
}
@media only screen and (max-width: 720px) {
    .dit {
        font-weight: 500;
    }
}
@media only screen and (max-width: 600px) {
    .item__text {
        order: 2;
    }
}
.text__p {
    font-size: 15px;
    max-width: 600px;
}
@media only screen and (max-width: 420px) {
    .text__p {
        font-size: 14px;
    }
}
.margin__top10 {
    padding-top: 10px;
}
/* ----tag----- */
.box__tag {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 15px;
}
@media only screen and (max-width: 420px) {
    .box__tag {
        order: 2;
    }
}
.hint__element {
    background: #c7c7c7;
    width: 3px;
    border-radius: 4px;
}
body.dark .hint__element {
    background: #313136;
}
.hint__line2 {
    display: flex;
    width: 3px;
    height: 50%;
    /* background: #ff4851af; */
    border-radius: 4px;
}
@media only screen and (max-width: 420px) { .hint__line { width: 2px; } }
.items__bar {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
@media only screen and (max-width: 420px) {
    .ch1 {
        flex: 100%;
        margin-bottom: 5px;
    }
}
/* ----items----- */
/* .select {
    display: grid;
    grid-gap: 15px;
    flex-wrap: wrap;
    grid-template-columns: repeat(1,1fr);
}
@media only screen and (max-width: 720px) {
    .select {
        grid-gap: 6px;
    }
} */

.item-cont2 {
    padding-top: 15px;
}
@media only screen and (max-width: 600px) {
    .item-cont2 {
        order: 1;
    }
}


.teg, .teg2 {
    margin: 0 0 0 5px;
}
@media only screen and (max-width: 420px) {
    .teg2 {
        margin-top: 5px;
    }
}
@media only screen and (max-width: 420px) {
    .teg {
        margin-top: 5px;
    }
}
/* ----------------TEG------------------- */
.teg {
    font-weight: 600;
    color: var(--text-dark);
    border: 1px solid #ff636b;
}
body.dark .teg {
    font-weight: 500;
    color: #B9B9BE;
    border: 1px solid #C72A2A;
    background: none;
}
.teg2 {
    font-weight: 600;
    color: #3C3C3E;
    border: 1px solid #3C3C3E;
    margin-top: 4px;
    /* background: transparent; */
}
body.dark .teg2 {
    font-weight: 500;
    color: #c4c4ca;
    border: 1px solid #3C3C3E;
}
/* ------------------------------------- */

.flex2 {
    display: flex;
    align-items: center;
}


/* ------------------------------------- */
.ok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 12px 12px 12px;
}
.text__ok {
    color: #575757;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
}
body.dark .text__ok {
    font-weight: 400;
    color: #C4C4C4;
}
@media only screen and (max-width: 720px) { .text__ok { font-size: 13px; }}
.icon__down {
    background-image: url(../ico/down.svg);
    height: 2.0em;
    width: 2.0em;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.2em 1.2em;
}

/* ---------------------------------------- */





/*------------------------------------------*/
.box__pin {margin-right: 30px;}
.card__pin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    padding-bottom: 15px;
    border-radius: 12px;
    /* background: #f5f5f5; */
    box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
    padding: 15px;
}
.filter {
    position: relative;
    
}
@media only screen and (min-width: 1700px) {
    .filter {
        position: absolute;
        top: 120px;
        left: 30px;
    }
}
body.dark .card__pin {
    background: var(--box_dark);
}
.card__pin p {
    color: rgb(147 147 147);
    font-size: 12px;
}
.text__pin{
    /* height: 40px; */
    font-weight: 600;
    font-size: 18px;
}
body.dark .text__pin {
    font-weight: 500;
}


.item__day {
    display: inline-block;
    background: #1B1B1B;
    padding: 6px 14px;
    border-radius: 8px;
    color: #fff;
    font-weight: 400;
}
body.dark .item__day {
    background: #121212;
}
/*------------------------------------------*/





/* ---------------------------------------- */
/* .hint {
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: 0.3s;
}
@media only screen and (max-width: 720px) {
    .hint {
        display: flex;
        justify-content: flex-start;
    }
} */
/*------------------------------------------*/
/* .pin__line {
    width: 3px;
    height: 100%;
    background: #FFAA05;
    border-radius: 4px;
} */

.pin__text {
    color: var(--text-dark);
    font-size: 14px;
    font-weight: 500;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 15px;
    /* transition: 0.3s; */
}
body.dark .pin__text {
    color: var(--text-light);
    font-weight: 400;
}
@media only screen and (max-width: 420px) { .pin__text { margin-left: 12px; } }
/*------------------------------------------*/
.box__el_flex {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; */
    margin-top: 5px;
}
@media only screen and (max-width: 480px) {
    .box__el_flex {
        flex-direction: column;
    }
}
/* @media only screen and (max-width: 900px) {
    .box__el_flex {
        grid-template-columns: repeat(1, 1fr);
    }
} */
.box_el1 {
    min-width: 240px;
}
.rx {
    margin-left: 12px;
}
.el1 {
    /* display: table-cell; */
    margin-top: 10px;
    background: var(--box_light);
    min-height: 50px;
    padding: 10px 20px;
    padding-right: 10px;
    border-radius: 15px;
}
body.dark .el1 {
    /* background: var(--box_item_dark); */
    background: var(--box_dark);
}
@media only screen and (max-width: 480px) { .el1 { margin-right: 0px; }}
.flex_el {
    display: flex;
    justify-content: space-between;
    align-items: center
}


.flex__temp {
    display: flex;
    align-items: center;
}
.color_fix {
    margin-right: 10px;
    color: #7e8183;
    font-weight: 400;
}
.color_fix2 {
    font-size: 14px;
    color: #6A81D1;
    font-weight: 500;
    padding-top: 5px;
    border-radius: 8px;
    padding: 0.5em 0.8em;
}
body.dark .color_fix { color: #7e8183; font-weight: 400;}
body.dark .color_fix2 { font-weight: 400; }

.tem__ico {
    height: 1.5em;
    width: 1.5em;
    border-radius: 2px;
    cursor: pointer;
    background-image: url(../ico/Group\ 237.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 0.8em;
}
.tem__ico2 {
    height: 1.5em;
    width: 2em;
    border-radius: 2px;
    cursor: pointer;
    background-image: url(../ico/Group\ 238.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 0.8em;
}
.tem__ico3 {
    height: 1.5em;
    width: 2em;
    border-radius: 2px;
    cursor: pointer;
    background-image: url(../ico/Ellipse\ 118.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 0.8em;
}
/* ---------------------------------------- */

.number {
    height: 40px;
    width: 30px;
    border-right: 1px solid #cacaca;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}
body.dark .number { border-right: 2px solid #191919; }
/*------------------------------------------*/
.prog_prew {
    display: block;
    background: url(../img/prog2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: -20px;
}
body.dark .prog_prew {
    margin-bottom: 0;
}
@media only screen and (min-width: 520px) {
    .prog_prew {
        display: none;
        margin-bottom: 0px;
    }
}
.prog_prew {
    animation-duration: 0.6s;
    animation-name: prog_prew;
    transition-timing-function: ease-out;
}
@keyframes prog_prew {
    from {
        height: 100px;;
    }
    
    to {

    }
}
.filter {
    width: 100%;
    height: 100%;
}
body.dark .filter { background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #141414 100%); }


.box__dished {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 12px;
    border: 1px dashed #d1d1d1;
    /* margin-top: 30px; */
    margin-bottom: 15px;
}
body.dark .box__dished {
    border: 1px dashed #303030;
}
.text__dished {font-size: 14px; font-weight: 500;}
body.dark .text__dished { font-weight: 400; }
@media only screen and (min-width: 720px) { .text__dished { font-size: 15px; }}

.note {
    display: block;
	background-image: url(../ico/note_dark.svg);
	height: 1.6em;
	width: 1.6em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1.4em 1.4em;
    margin-right: 0.6rem;
}
body.dark .note {
    background-image: url(../ico/note.svg);
}


#convas_no_padding {
    padding-top: 0px;
    padding-bottom: 60px;
    background: #fff;
    min-height: 100vh;
}
@media only screen and (min-width: 520px) {
    #convas_no_padding {
        padding-top: 30px;
    }
}
body.dark #convas_no_padding {
    background: var(--fon-dark);
    /* border-top: 1px solid #0B0B0C; */
}

#convas_no_padding {
    /* animation-delay: 1s; */
    animation-duration: 0.5s;
    animation-name: convas_no_padding;
    transition-timing-function: ease-in-out;
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}
/* ----------------Animate----------------- */

@keyframes convas_no_padding {
    from {
        padding-top: 100px;
    }
    
    to {

    }
}
/*------------------------------------------*/

.hint {
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 15px;
}
@media only screen and (max-width: 720px) {
    .hint {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.hint__line {
    width: 3px;
    height: 100%;
    background: #f55050;
    border-radius: 4px;
}
body.dark .hint__line {
    background: #C72A2A;
    border-radius: 4px;
}

.hint__text {
    color: var(--text-dark);
    font-size: 15px;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 15px;
}
body.dark .hint__text {
    color: var(--text-light);
    font-weight: 400;
}
/*------------------------------------------*/


.flex_el h3 {
    height: auto;
    width: 10px;
}


/*------------------------------------------*/

/* .hint__day {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 15px;
}
@media only screen and (max-width: 720px) {
    .hint__days {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.hint__element2 {
    display: flex;
    min-width: 70px;
}
.hint__line3 {
    width: 3px;
    height: 100%;
    background: #a0a0a0;
    border-radius: 4px;
} */


details {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-top: 12px;
    transition: 0.3s;
}

summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}
@media screen and (min-width: 720px) {
    summary:hover {
        background: rgba(32, 32, 32, 0.8);
        padding-left: 15px;
        padding-right: 10px;
        transition: 0.3s;
    }
}


details summary:before {
    content: ' ';
    height: 2.2em;
    width: 2.2em;
    background-image: url(../ico/button_dark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
    order: 1;
}
details[open] summary:before {
    content: ' ';
    height: 2.2em;
    width: 2.2em;
    background-image: url(../ico/top_dark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
}





.txt_title {
    font-size: 14px;
}
