body {
    font-family: 'Inter', sans-serif;
    transition: background-color 1s; /*Плавный цвет фона*/
    min-height: 100vh;
    background: #1B1B1B; /*Цвет фона*/
}
body.dark  {
    background: #1B1B1B; /*Цвет фона*/
}
/*-----------------SCROLLBAR-----------------*/
body::-webkit-scrollbar {width: 8px;}
body::-webkit-scrollbar-track {background-color: #adadad;}
body::-webkit-scrollbar-thumb {background-color: #333;}
/*body::-webkit-scrollbar-thumb:hover {background-color: rgb(46, 146, 228);}*/
/*body::-webkit-scrollbar-button {background-color: #858585; height: 10px;}*/
/*-------------------------------------------*/




/*----------------CALENDAR-----------------*/
@media screen and ( max-width: 690px ) {
    
}
@media screen and ( min-width: 600px ) {
    
}
@media screen and ( min-width: 1200px ) {
    
}
@media screen and ( min-width: 1400px) { 
    
}

.select {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    color: #E5E5E5;
    padding: 1.4em 1.2em;
    background: var(--box_light);
    border: 1px solid #e4e4e4;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.20));
    /* text-shadow: 0px 2px 2px #0d0f11b9; */
}
body.dark .select {
    background: var(--box_dark);
    border: none;
}
body.dark .select h2{
    color: #2C2C2E;
}
body.dark .select p{
    color: #cfd0d6;
}
.select:hover {
    box-shadow: 0px 0px 6px #2cf8ff;
    transition: 0.3s;
}
.select:hover {
    transform: scale(1.02);
}
.select h4 {
    font-size: 18px;
    font-weight: 500;
}
.select p {
    margin-top: 0px;
    font-size: 18px;
    
}
.text__pr {
    color: #5d5d5e;
    font-weight: 400;
}


.calendar {
    position: relative;
    display: grid;
    /*flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;        68%*/
    grid-template-columns: repeat(6,1fr);
    grid-gap: 15px 15px; /*92%*/
    padding: 0px;
}
@media only screen and (max-width: 320px) {
    .calendar {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;}
    .select {
        flex-direction: row;
        justify-content: space-between;
        padding: 1.4em 1.2em;
    }
    .select h4 {
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 0px;
    }
    .select p {
        font-size: 14px;
        margin-right: 40px;
    }
    
}
@media only screen and (min-width: 320px) {
    .calendar {grid-template-columns: repeat(2,1fr);}
    .select {
        justify-content: space-around;
        align-items: flex-start;
        padding: 1.2em 1em;
    }
    .select p {
        margin-top: 20px;
        margin-left: 0px; 
        font-size: 14px;
    }
}
@media only screen and (min-width: 600px) {
    .calendar {grid-template-columns: repeat(3,1fr);}
}
@media only screen and (min-width: 800px) {
    .calendar {grid-template-columns: repeat(4,1fr);}
}
@media only screen and (min-width: 1100px) {
    .calendar {grid-template-columns: repeat(5,1fr);}
}
@media only screen and (min-width: 1200px) {
    .calendar {grid-template-columns: repeat(6,1fr);}
}
@media only screen and (min-width: 1600px) {
    .calendar {grid-template-columns: repeat(5,1fr);}
}
/*------------------------------------------*/
/*------------------------------------------*/
/*------------------------------------------*/
/*------------------------------------------*/

.hint {
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 15px;
}
@media only screen and (max-width: 420px) {
    .hint {
        display: flex;
        justify-content: flex-start;
    }
}
@media only screen and (min-width: 420px) {
    .hint {
        display: flex;
        justify-content: flex-start;
    }
}
@media only screen and (min-width: 768px) {
    .hint {
        display: flex;
        justify-content: flex-start;
    }
}

.hint__line {
    width: 3px;
    height: 100%;
    background: #FFAA05;
    border-radius: 4px;
}

.hint__text {
    color: #E5E5E5;
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
}
body.dark .hint__text {
    font-weight: 400;
}
/*------------------------------------------*/
.icon__404 {
    position: absolute;
    right: 15px;
	background-image: url(../ico/404.svg);
	height: 2.2em;
	width: 2.2em;
	box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
	background-repeat: no-repeat;
	background-position: center center;
    background-size: 3.2em 3.2em;
}
.icon__done {
    position: absolute;
    right: 8px;
    bottom: 8px;
	background-image: url(../ico/done2.svg);
	height: 2.2em;
	width: 2.2em;
	background-repeat: no-repeat;
	background-position: center center;
    background-size: 2.0em 2.0em;
}
/*------------------------------------------*/





/*------------------------------------------*/
.card__pin {
    margin-top: 30px;
}
body.dark .card__pin {
    margin-top: 50px;
}
.card__pin p {
    color: #8F8F8F;
    font-size: 12px;
}
.text__pin{
    color: #E5E5E5;
    font-size: 24px;
    padding-top: 10px;
}
/*------------------------------------------*/





/*------------------------------------------*/
.pin__calendar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.pin__calendar h3 {
    font-weight: 600;
}
body.dark .pin__calendar h3{
    font-weight: 400;
}
/*------------------------------------------*/





/*------------------------------------------*/
#convas {
    padding-bottom: 20px;
}
#convas2 {
    background: #fff;
    border-radius: 12px 12px 0px 0px;
    min-height: 100vh;
    
}
body.dark #convas {
    background: none;
}
body.dark #convas2 {
    background: none;
}

#convas2 {
    /* animation-delay: 1s; */
    animation-duration: 1s;
    animation-name: an1;
    /* animation-iteration-count: infinite;
    animation-direction: alternate; */
}

@keyframes an1 {
    from {
        opacity: 0;
        margin-top: 70px;
        padding: 70px 0;
    }
    
    to {

    }
}
/*------------------------------------------*/





/*------------------------------------------*/
/*------------------------------------------*/


