body {
    font-family: 'Inter', sans-serif;
    /* background: var(--fon-dark); */
    min-height: 120vh;
}

/*-----------------SCROLLBAR-----------------*/
/* body::-webkit-scrollbar {width: 8px;} */
/* body::-webkit-scrollbar-track {background-color: #adadad;} */
/* body::-webkit-scrollbar-thumb {background-color: #333;} */
/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
.title {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.box {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 15px 15px;
    margin-top: 20px;
    
}
@media only screen and (max-width: 800px) {
    .box {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 800px) {
    .box {
        grid-template-columns: repeat(2, 1fr);
    }
}

.box__items {
    padding: 20px 20px;
    border-radius: 12px;
    background: linear-gradient(153.22deg, #272727 51.74%, #1d1d1f 134.15%);
}
.box__items2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line {
    height: 2px;
    width: 100%;
    margin-bottom: 15px;
    background: rgb(26, 26, 26);
}


/*------------------------------------------*/
.qs__section3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.item {
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 6px;
    background: rgb(238, 238, 238);
}
body.dark .item {
    padding: 5px;
    height: 1.4em;
    width: 1.8em;
    background: rgba(19, 19, 19, 0.7);
}
.item2 {
    padding: 5px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 6px;
    background: linear-gradient(144.25deg, #24BCC6 20.93%, #1797CD 100%);
}
.ico__ok {
    height: 0.8em;
    width: 1.3em;
    border-radius: 6px;
    background-image: url(../ico/ok.svg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: 1em 1em; */
}
/*------------------------------------------*/



/*------------------------------------------*/
@media only screen and (min-width: 800px) {
    .box {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*------------------------------------------*/



/*------------------------------------------*/

.box2 {
    /* position: relative;
    padding-top: 90%; */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    /* border-radius: 15px; */
    
    /* min-height: 200px; */
    width: 100%;
}

.flexis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.flexis h1{
    color: rgb(207, 207, 207);
    font-size: 20px;
    font-weight: 500;
}
.flexis h4{
    color: rgb(148, 148, 148);
    font-size: 12px;
    font-weight: 400;
}
.flex_vrapp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.txt__qs {
    font-size: 18px;
    font-weight: 500;
}
.img_prog {
    display: inline-block;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    background-image: url(../img/prog2.webp); background-position: bottom;
}
.img_prog2 {
    display: inline-block;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    background-image: url(../img/prog3.webp);
}
.img_prog3 {
    display: inline-block;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    background-image: url(../img/prog4.webp);
}
.back {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3em;
}
.pfo1 { background-image: url(../img/prog2.webp); background-position: bottom; }
.pfo2 { background-image: url(../img/prog3.webp); }
.pfo3 { background-image: url(../img/prog4.webp); }

.box3 {
    /* position: absolute;
    bottom: -2px; */
    width: 100%;
    padding-top: 30%;
    border: none;
    background: rgba(30, 30, 32, 0.9);
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
    backdrop-filter: blur(30px);
    border-radius: 16px;
    padding: 15px;
}

/*------------------------------------------*/

.dital {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-top: 12px;
    border-radius: 8px;
    /* height: 200px; */
    /* overflow: auto; */
    position: relative;
    transition: 0.3s;
}
.dital[open] {
    margin-top: 20px;
    margin: -15px;
    border-radius: 16px;
    margin-top: 20px;
    padding: 15px;
    background: var(--color-box);
    border: 1px solid #2c2c31;
    transition: 0.3s;
    
}

@media screen and (min-width: 720px) {
    .dital[open] {
        position: relative;
        background: #14141441;
        padding: 20px;
        /* margin: -20px; */
        margin-top: 20px;
        border-radius: 16px;
    }
}
summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    font-size: 15px;
    color: #969696;
    cursor: pointer;
    transition: 0.3s;
}
@media screen and (min-width: 720px) {
    summary:hover {
        background: rgba(19, 19, 19, 0.3);
        padding-left: 10px;
        padding-right: 2px;
        transition: 0.3s;
    }
}


details summary:before {
    content: ' ';
    height: 2.2em;
    width: 2.2em;
    background-image: url(../ico/button_dark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
    order: 1;
}
details[open] summary:before {
    content: ' ';
    height: 2.2em;
    width: 2.2em;
    background-image: url(../ico/top_dark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
}


/*------------------------------------------*/

.box__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


#flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}
@media only screen and (min-width: 800px) {
    #flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
/*------------------------------------------*/
/*-------------------------------------------*/
.icon {
    /* display: block; */
    height: 2.2em;
    width: 2.2em;
    border-radius: 2px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.4em 1.4em;
    background-image: url(../ico/page.png);
}


.vertical_line {
    background: var(--fon-dark);
    width: 1.5px;
    height: 30px;
    margin: auto 10px;
}


.flex__batt {
    display: flex;
    align-items: center;
    /* margin-top: 15px; */
    margin-bottom: 30px;
    margin-top: 0px;
    /* margin-left: 12px; */
    border-radius: var(--radius);
    padding: .3em;
    background: var(--color-box);
}


.m2 {margin-left: 5px;}
.btn__all2 {
    color: #9F9F9F;
    background: none;
    font-size: 15px;
    border: 1px solid #0b0b0c00;
    font-weight: 400;
    border-radius: 8px;
    padding: 0.5em 1.2em;
    transition: 0.3s;
}

.btn__all2:hover {
    color: #fff;
    border: 1px solid #404040;
    background: none;
    transition: 0.3s;
}
