body {
    font-family: 'Inter', sans-serif;
    transition: background-color .3s; /*Плавный цвет фона*/
    /* background: #FCFCFC; */
    /* background: #101010; */
    background: linear-gradient(180deg, #1B1B1B 0%, #000000 100%);
    min-height: 150vh;
    color: #272727;
}
body.dark  {
    background: var(--fon-light); /*Цвет фона*/
}
/*-----------------SCROLLBAR-----------------*/
body::-webkit-scrollbar {width: 8px;}
body::-webkit-scrollbar-track {background-color: #adadad;}
body::-webkit-scrollbar-thumb {background-color: #333;}
/*-------------------------------------------*/



.flex {
    display: flex;
    
    justify-content: center;
    margin-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
}
@media only screen and (max-width: 870px) {
    .flex {
        flex-wrap: wrap;
    }
}
.box {
    background: #2C2C2E;
    padding: 20px;
    border-radius: 12px;
    width: 800px;
    margin: 10px;
}
.box__item {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.box__item__bat {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}
p {
    color: #adadad;
    padding: 10px 0;
}
.line {
    border-bottom: 1px dashed #1C1C1E;
    padding: 5px 0;
}
.text__color {
    font-weight: 400;
}




.btn__start {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    border-radius: 2em;
    cursor: pointer;
    font-size: 16px;
    padding: 0.7em 1.5em;
    background: linear-gradient(136.2deg, #32BC59 16.28%, #2196F3 224.54%);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.38);
    margin-right: 10px;
}
.btn__start2 {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    border-radius: 2em;
    font-size: 16px;
    padding: 0.7em 1.5em;
    background: linear-gradient(136.2deg, #FFBC10 16.28%, #FA00FF 224.54%);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.38);
}