/*-------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}
a {
    /* transition: all 0.3s ease; */
    text-decoration: none;
    color: #202128;
}
/*-------------------------------------------*/


/*----------------Collors-------------------*/
:root {
    --primary-color: #EFEFEF;
    --black: rgb(24, 24, 24);
    --light: #fff;
    --grey: #777;
    --light-color: rgb(228, 13, 13);
    --btn-color: rgb(0, 140, 255);
    --text-light: #E5E5E5;
    --text-light2: #fff;
    --text-dark: #3C3C3E;
    --fon-light: #fff;
    --fon-dark: #141414;
    --sheet: #fff;
    --card-dark: #191b1d;
    --line-dark: #26282B;
    --box_light: #fff;
    /* --box_dark: #262626; */
    --box_dark: #202020;
    --box_item_dark: #252525;

    /*  */
    --white: #fff;
    --radius: 10px;

    --cont-padding: 30px;
    --cont-padding2: 15px;
    
}
/* Не работает */
@media (max-wight: 500px) {
    :root {
        --cont-padding: 15px;
    }
}
/*------------------------------------------*/
/* .text__dark { 
    color: var(--text-dark);
} */




/*----------------SCROLLBAR-----------------*/
body::-webkit-scrollbar {width: 6px;}
body::-webkit-scrollbar-track {background-color: #060606;}
body::-webkit-scrollbar-thumb {background-color: #333; border-radius: 2rem;}
body::-webkit-scrollbar-track-piece {
    border-radius: 2rem;
    margin-top: 4px;
    margin-bottom: 4px;
}
/*body::-webkit-scrollbar-thumb:hover {background-color: rgb(46, 146, 228);}*/
/*body::-webkit-scrollbar-button {background-color: #858585; height: 10px;}*/
/*------------------------------------------*/





/*------------------------------------------*/
.m_border_radius { border-radius: 12px; }
.m_shadow { box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15); }
.m__right {
    margin-right: 1rem;
}
.m__left { margin-left: 0.4rem; }
/* .m_font_weight { font-weight: 500; } */
/*------------------------------------------*/


/*-----------------TEXT---------------------*/
@media only screen and (max-width: 720px) { h3 { font-size: 16px; } }
@media only screen and (min-width: 720px) { h3 { font-size: 18px; } }
@media only screen and (max-width: 720px) { h4 { font-size: 15px; } }
@media only screen and (min-width: 720px) { h4 { font-size: 16px; } }
@media only screen and (max-width: 720px) { h5 { font-size: 12px; } }
@media only screen and (min-width: 720px) { h5 { font-size: 14px; } }
/*------------------------------------------*/
/* h3 { font-weight: 600;} */

/*---------------TEXT WEIGHT----------------*/

.text_prev, .text_prev2 {
    /* color: var(--text-light); */
    font-weight: 500;
    font-size: 16px;
}
/* body.dark .text_prev, .text_prev2 {
    color: var(--text-dark); font-weight: 600;
} */
.fit { font-weight: 600; padding-bottom: 3px;}
.skinny { font-weight: 500;}
.text_prev    { margin-left: 10px; }
.text__weight { font-weight: 500; }
body.dark .text__weight { font-weight: 400; }
.text__weight2 { font-weight: 600; }
body.dark .text__weight2 { font-weight: 400; }


.text__color {color: var(--text-dark);}
body.dark .text__color {
    color: var(--text-light);
}
.text__color2 {color: var(--text-light2);}
body.dark .text__color2 {
    color: var(--text-dark);
}


.text__gag {font-weight: 400;}
/*^^^^^^^^^^^^^^^ TEXT DARK ^^^^^^^^^^^^^^^^*/
/* body.dark .text__weight { font-weight: 500; }
body.dark .text_prev  { color: #B6B8C9; }
body.dark .text_prev2 { color: #B6B8C9; } */
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/




/*-----------------WRAPPER-----------------*/
.wrapper {
    max-width: 100%;
    margin: 0 auto;
	/* padding-left: 10px;
    padding-right: 10px; */
    transition: 0.3s;
}

@media only screen and (max-width: 720px) {
    .wrapper {
        max-width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media only screen and (min-width: 720px) {
    .wrapper {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (min-width: 992px) {
    .wrapper {
        max-width: 94%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media only screen and (min-width: 1200px) {
    .wrapper {
        max-width: 85%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media only screen and (min-width: 1400px) {
    .wrapper {
        max-width: 1110px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
/*------------------------------------------*/





/*---------------PLEROADER------------------*/
.preloader {
	position: fixed;
    background: #fff;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
    z-index: 9999;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
body.dark .preloader {
    background: #101010;
}
.preloader span {
	display: block;
	height: 8px;
	width: 6px;
	background: #19e3d5;
	margin: 0 7px;
	border-radius: 10px;
	animation: 1.2s upDown infinite;
}

.preloader span:first-child {
	animation-delay: .15s;}

.preloader span:nth-child(2) {
	animation-delay: .3s;
}

.preloader span:nth-child(3) {
	animation-delay: .45s;
}

.preloader span:nth-child(4) {
	animation-delay: .6s;
}

.preloader span:last-child {
	animation-delay: .75s;
}

@keyframes upDown {
	0% {
		height: 8px;
		background: #19e3d5;
	}
	50% {
		height: 40px;
		background: #d33deb;
	}
	100% {
		height: 8px;
		background: #f00e43;
	}
}
.hide {
    opacity: 0;
}
/*------------------------------------------*/





/*-----------------HEADER-------------------*/
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex-wrap: wrap;
	padding: 30px 0;
	/* height: 60px; */
    margin-left: 30px;
    margin-right: 30px;
	
	transition: 0.3s;
}
.header2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex-wrap: wrap;
	padding: 30px;
	/* height: 60px; */
	background: var(--fon-dark);
	transition: 0.3s;
}
@media only screen and (max-width: 720px) {
    .header2 {
		padding: 12px;
	}
}
.header__open{
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex-wrap: wrap;
	padding: 30px 0;
	margin-left: 30px;
	margin-right: 30px;
	/* height: 60px; */
	
	transition: 0.3s;
}
@media only screen and (max-width: 720px) {
    .header{
		padding: 12px 0;
        margin-left: 12px;
		margin-right: 12px;
	}
    .header__open{
		padding: 12px 0;
		margin-left: 12px;
		margin-right: 12px;
	}
}
.items__header{
	display: flex;
	align-items: center;
}
.head__text {
	font-size: 24px;
	font-weight: 600;
	transition: 0.3s;
}
.head__text2 {
	font-size: 24px;
	font-weight: 600;
	transition: 0.3s;
}
/* body.dark .head__text {color: var(--text-dark);} */
@media only screen and (max-width: 720px) {
    .head__text {
		font-size: 18px;
	}
    .head__text2 {
        font-size: 18px;
    }
}

.icon__menu {
    display: block;
    background-image: url(../ico/Menu_dark.svg);
    height: 2.6em;
    width: 2.8em;
    border-radius: 8px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.8em 2.0em;
	background-color: #2c2e3300;
	transition: 0.2s;
}
.icon__menu:hover {
	background-color: #f1f1f1;
	transform: scale(1.04);
}
body.dark .icon__menu {
    background-image: url(../ico/MenuBurger.svg);
}
body.dark .icon__menu:hover {
	background-color: #242424;
	transform: scale(1.04);
}
/*------------------------------------------*/
.icon__bs {
	display: block;
	background-image: url(../ico/logo.png);
	height: 2.6em;
	width: 2.6em;
	border-radius: 12px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 2.6em 2.6em;
    margin-right: 30px;
	transition: 0.2s;
}
@media only screen and (max-width: 600px) {
    .icon__bs {
        height: 2.2em;
	    width: 2.2em;
        border-radius: 8px;
        background-size: 2.2em 2.2em;
        margin-right: 10px;
	}
}
/*------------------------------------------*/
/*------------------------------------------*/





/* .selectcolor {
    border-radius: 18px;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
} */


.mod__btn, .btn2 {
    text-decoration: none;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 2em;
    padding: 0.7em 1.5em;
    margin: 10px 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}
.btn__akk {
    border: none;
    text-decoration: none;
    color: #fff;
    border-radius: 2em;
    font-size: 14px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 0.7em 1.5em;
    background: linear-gradient(139.21deg, #32BCA3 14.62%, #2196F3 124.55%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.10);
}
.btn__akk:hover {
    background: linear-gradient(139.21deg, #32BCA3 14.62%, #2196F3 124.55%);
}
body.dark .btn__akk {
    background: none;
    border: 1px solid #303030;
    color: #c4c4c4;
    
}
body.dark .btn__akk:hover {
    background: linear-gradient(139.21deg, #32BCA3 14.62%, #2196F3 124.55%);
    border: 1px solid #32BCA3;
    color: #fff;
    
}

.btn__ok {
    text-align: center;
    margin-top: 10px;
    padding: 0.7em 1.5em;
    border-radius: 12px;
    color: #fff;
    background: #0fb8f6;
}
@media only screen and (max-width: 720px){
    .btn__ok {
        width: 100%;
        padding: 1.5em 1.5em;
    }
}
.btn__ok:hover {
    background: linear-gradient(139.21deg, #32BCA3 14.62%, #2196F3 124.55%);
}

.btn_teg {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    padding: 0.5em 1em;
    border-radius: 8px;
}


.btn__theme {
    border: none;
    text-decoration: none;
    border-radius: var(--radius, 10px);
    cursor: pointer;
    font-size: 14px;
    padding: 0.7em 1.5em;
    background: none;
    color: #353636;
    border: 1px solid #36393A;
    margin-left: 10px;
    font-weight: 600;
    transition-duration: 0.2s;
    transition-property: background-color;
}
.btn__theme:hover {
    background: #353636;
    color: #E5E5E5;
}
body.dark .btn__theme {
    background: none;
    border: 1px solid #303030;
    color: #E5E5E5;
    font-weight: 500;
}
body.dark .btn__theme:hover {
    background: nine;
    border: 1px solid #717175;
    color: #c4c4c4;
    
}
/*------------------------------------------*/





/*------------------------------------------*/
footer {
    margin-top: -20px;
    width: 100%;
    height: 200px;
    /* background: #111111; */
    background: #e9e9e9;
    background: #060606;
    /* border-radius: 18px 18px 0px 0px; */
    border-radius: 0px 0px 0px 0px;
}
@media screen and (max-width: 720px) {
    footer {
        border-radius: 15px 15px 0px 0px;
    }
}
/*------------------------------------------*/





/*------------------M-BTN-------------------*/
.m__btn {
    border-radius: var(--radius);
    color: #ffffff;
    font-size: 15px;
    padding: 0.7em 1.5em;
}
body.dark .m__btn {
    color: rgb(255 255 255);
    font-weight: 400;
    
}
/*------------------------------------------*/



/*-----------------BTN-NONE-----------------*/
.btn__none {
    display: inline-block;
    text-decoration: none;
    /* cursor: pointer; */
    color: #36393A;
    border: 1px solid #36393A;
    font-weight: 600;
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); */
    background: none;
}
.btn__none:hover {
    background: #36393A;
    color: #F2F2F2;
    border: 1px solid #36393A;
    /* transition: 0.8s; transform: scale(1.00); */
}
body.dark .btn__none { color: #F2F2F2; font-weight: 500; }
/*------------------------------------------*/

/*------------------------------------------*/
.btn__start {
    text-decoration: none;
    /* background: linear-gradient(120deg, #31be9d 30%, #0d9da7 90%); */
    background: #3787D0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.20);
}
body.dark .btn__start {
    font-weight: 400;
}
.btn__start:hover {
    background: linear-gradient(136.2deg, #00D1FF 16.28%, #FA00FF 224.54%);
}
/*------------------------------------------*/



/* List */
/*------------------------------------------*/
.buttom {
    width: 100%;
    height: 20px;
    background: #fff;
    border-radius: 2em 2em 0px 0px;
}
body.dark .buttom {
    background: var(--fon-dark);  
}
.top__body {
    /* background: #e9e9e9;  */
    padding-top: 15px;
    /* margin-top: 200px; */
}
body.dark .top__body {
    /* background: #060606; */
}
.top__body {
    animation-duration: 0.4s;
    animation-name: an4;
    transition-timing-function: ease-in-out;
}

@keyframes an4 {
    from {
        padding-top: 100px;
    }
    
    to {

    }
}

.list {
    margin-left: 24px;
    margin-right: 24px;
    height: 8px;
    background: #cdcdcd;
    border-radius: 2em 2em 0px 0px;
    /* transition: 0.6s; */
}
body.dark .list {
    background: #202020;
}
@media only screen and (max-width: 700px) {
    .top__body {
        padding-top: 10px;
    }
    .list {
        height: 6px;
    }
}

.head__it {
    margin-left: 15px;
}
.ico__back {
    display: block;
    height: 2.5em;
    width: 2.5em;
    border-radius: var(--radius);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.2em 1.2em;
    transition-duration: 0.2s;
    transition-property: border;
}
.ico__back { background-color: #f1f1f1; border: 1px solid #f1f1f1; background-image: url(../ico/top_dark.svg); }
body.dark .ico__back { background-color: #242424; border: 1px solid #242424; background-image: url(../ico/top.svg); }
.ico__back:hover {
    border: 1px solid #3C3C3E;
	transform: scale(1.04);
}
body.dark .ico__back:hover {
    border: 1px solid #505050;
	transform: scale(1.04);
}
/*------------------------------------------*/
.txt_back { color: #6f6f72; font-size: 12px; font-weight: 400;}
/*------------------------------------------*/



/* ---------------------------------------- */
#convas {
    background: var(--fon-light);
    border-radius: 18px 18px 0px 0px;
    /* transition: 0.3s; */
    /* z-index: 5;
    position: relative; */
}

body.dark #convas {
    border-radius: 18px 18px 0px 0px;
    background: var(--fon-dark);
    
}
@media screen and (max-width: 720px) {
    #convas {
        border-radius: 15px 15px 0px 0px;
    }
}
/* --- */
#convas2 {
    padding-top: 30px;
    /* padding-bottom: 60px; */
    /* margin-top: -20px; */
    background: #F4F4F4;
    min-height: 100vh;
}
@media only screen and (min-width: 720px) {
    #convas2 {
        padding-bottom: 60px;
    }
}
body.dark #convas2 {
    background: var(--fon-dark);
    /* border-top: 1px solid #0B0B0C; */
}

#convas2 {
    /* animation-delay: 1s; */
    animation-duration: 0.5s;
    animation-name: an1;
    transition-timing-function: ease-in-out;
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}
/* ----------------Animate----------------- */

@keyframes an1 {
    from {
        padding-top: 100px;
    }
    
    to {

    }
}

/* ---------------------------------------- */

