/*-------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}
a {
    /* transition: all 0.3s ease; */
    text-decoration: none;
    color: #202128;
}
/*-------------------------------------------*/


/*----------------Collors-------------------*/
:root {
    --primary-color: #EFEFEF;
    --black: rgb(24, 24, 24);
    --light: #fff;
    --grey: #777;
    --light-color: rgb(228, 13, 13);
    --btn-color: rgb(0, 140, 255);
    --fon-light: #f2f2f3;
    --text-light: #E5E5E5;
    --text-light2: #fff;
    --text-dark: #3C3C3E;
    --fon-dark: #111111;
    --sheet: #fff;
    --card-dark: #191b1d;
    --line-dark: #26282B;
    --box_light: #fff;
    /* --box_dark: #262626; */
    --box_dark: #1D1D1E;
    --box_item_dark: #252525;
    
}
/*------------------------------------------*/
.text__dark { 
    color: var(--text-dark);
}




/*----------------SCROLLBAR-----------------*/
body::-webkit-scrollbar {width: 5px;}
body::-webkit-scrollbar-track {background-color: #000000;}
body::-webkit-scrollbar-thumb {background-color: #333;}
/*body::-webkit-scrollbar-thumb:hover {background-color: rgb(46, 146, 228);}*/
/*body::-webkit-scrollbar-button {background-color: #858585; height: 10px;}*/
/*------------------------------------------*/





/*------------------------------------------*/
.m_border_radius { border-radius: 12px; }
.m_shadow { box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }
/* .m_font_weight { font-weight: 500; } */
/*------------------------------------------*/


/*-----------------TEXT---------------------*/
@media only screen and (max-width: 720px) { h3 { font-size: 16px; } }
@media only screen and (min-width: 720px) { h3 { font-size: 18px; } }
@media only screen and (max-width: 720px) { h4 { font-size: 15px; } }
@media only screen and (min-width: 720px) { h4 { font-size: 16px; } }
@media only screen and (max-width: 720px) { h5 { font-size: 12px; } }
@media only screen and (min-width: 720px) { h5 { font-size: 14px; } }
/*------------------------------------------*/
/* h3 { font-weight: 600;} */

/*---------------TEXT WEIGHT----------------*/

.text_prev, .text_prev2 {
    /* color: var(--text-light); */
    font-weight: 500;
    font-size: 16px;
}
/* body.dark .text_prev, .text_prev2 {
    color: var(--text-dark); font-weight: 600;
} */
.fit { font-weight: 600; padding-bottom: 3px;}
.skinny { font-weight: 500;}
.text_prev    { margin-left: 10px; }
.text__weight { font-weight: 500; }
body.dark .text__weight { font-weight: 400; }
.text__weight2 { font-weight: 600; }
body.dark .text__weight2 { font-weight: 400; }


.text__color {color: var(--text-dark);}
body.dark .text__color {
    color: var(--text-light);
}
.text__color2 {color: var(--text-light2);}
body.dark .text__color2 {
    color: var(--text-dark);
}


.text__gag {font-weight: 400;}
/*^^^^^^^^^^^^^^^ TEXT DARK ^^^^^^^^^^^^^^^^*/
/* body.dark .text__weight { font-weight: 500; }
body.dark .text_prev  { color: #B6B8C9; }
body.dark .text_prev2 { color: #B6B8C9; } */
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/




/*-----------------WRAPPER-----------------*/
.wrapper {
    max-width: 100%;
    margin: 0 auto;
	padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
}

@media only screen and (max-width: 720px) {
    .wrapper {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (min-width: 720px) {
    .wrapper {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (min-width: 992px) {
    .wrapper {
        max-width: 94%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media only screen and (min-width: 1200px) {
    .wrapper {
        max-width: 85%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media only screen and (min-width: 1400px) {
    .wrapper {
        max-width: 1110px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
/*------------------------------------------*/





/*---------------PLEROADER------------------*/
.preloader {
	position: fixed;
    background: #fff;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
body.dark .preloader {
    background: #101010;
}
.preloader span {
	display: block;
	height: 8px;
	width: 6px;
	background: #19e3d5;
	margin: 0 7px;
	border-radius: 10px;
	animation: 1.2s upDown infinite;
}

.preloader span:first-child {
	animation-delay: .15s;}

.preloader span:nth-child(2) {
	animation-delay: .3s;
}

.preloader span:nth-child(3) {
	animation-delay: .45s;
}

.preloader span:nth-child(4) {
	animation-delay: .6s;
}

.preloader span:last-child {
	animation-delay: .75s;
}

@keyframes upDown {
	0% {
		height: 8px;
		background: #19e3d5;
	}
	50% {
		height: 40px;
		background: #d33deb;
	}
	100% {
		height: 8px;
		background: #f00e43;
	}
}
.hide {
    opacity: 0;
}
/*------------------------------------------*/





/*-----------------HEADER-------------------*/
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex-wrap: wrap;
	padding: 20px 0;
	margin-left: 30px;
	margin-right: 30px;
	/* height: 60px; */
	
	transition: 0.3s;
}
.header__open{
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex-wrap: wrap;
	padding: 20px 0;
	margin-left: 30px;
	margin-right: 30px;
	/* height: 60px; */
	
	transition: 0.3s;
}
@media only screen and (max-width: 720px) {
    .header{
		padding: 15px 0;
		margin-left: 15px;
		margin-right: 15px;
	}
    .header__open{
		padding: 15px 0;
		margin-left: 15px;
		margin-right: 15px;
	}
}
.items__header{
	display: flex;
	align-items: center;
}
.head__text {
	color: var(--text-light2);
	font-size: 24px;
	font-weight: 500;
	transition: 0.3s;
}
/* body.dark .head__text {color: var(--text-dark);} */
@media only screen and (max-width: 720px) {
    .head__text {
		font-size: 18px;
	}
}
.icon__back {
	display: block;
	background-image: url(../ico/back.svg);
	height: 2.6em;
	width: 2.6em;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 2.6em 2.4em;
    margin-right: 30px;
	transition: 0.2s;
}
.icon__back:hover {
	/* background-color: #FFAA05; */
	/* background-size: 2.7em 2.5em; */
	cursor: pointer;
	transform: scale(1.08);
	
}
@media only screen and (max-width: 720px) {
    .icon__back {
		height: 2.4em;
		width: 2.4em;
		background-size: 2.4em 2.2em;
        margin-right: 15px;
	}
}
.icon__menu {
    display: block;
    background-image: url(../ico/MenuBurger.svg);
    height: 2.8em;
    width: 2.8em;
    border-radius: 24px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.8em 2.0em;
	background-color: #2c2e3300;
	transition: 0.2s;
}
.icon__menu:hover {
	/* background-color: #ffffff; */
	transform: scale(1.04);
}
body.dark .icon__menu {
    background-image: url(../ico/MenuBurger.svg);
}
body.dark .icon__menu:hover {
	background-color: #282829;
	transform: scale(1.04);
}
/*------------------------------------------*/
.icon__bs {
	display: block;
	background-image: url(../ico/logo.png);
	height: 2.6em;
	width: 2.6em;
	border-radius: 12px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 2.6em 2.6em;
    margin-right: 30px;
	transition: 0.2s;
}
@media only screen and (max-width: 600px) {
    .icon__bs {
        height: 2.2em;
	    width: 2.2em;
        border-radius: 8px;
        background-size: 2.2em 2.2em;
        margin-right: 10px;
	}
}
/*------------------------------------------*/
/*------------------------------------------*/





/* .selectcolor {
    border-radius: 18px;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
} */


.mod__btn, .btn2 {
    text-decoration: none;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 2em;
    padding: 0.7em 1.5em;
    margin: 10px 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}
.btn__akk {
    border: none;
    text-decoration: none;
    color: #fff;
    border-radius: 2em;
    font-size: 14px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 0.7em 1.5em;
    background: linear-gradient(139.21deg, #32BCA3 14.62%, #2196F3 124.55%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.10);
}
.btn__akk:hover {
    background: linear-gradient(139.21deg, #32BCA3 14.62%, #2196F3 124.55%);
}
body.dark .btn__akk {
    background: none;
    border: 1px solid #303030;
    color: #c4c4c4;
    
}
body.dark .btn__akk:hover {
    background: linear-gradient(139.21deg, #32BCA3 14.62%, #2196F3 124.55%);
    border: 1px solid #32BCA3;
    color: #fff;
    
}

.btn__ok {
    margin: 10px 5px;
    padding: 0.7em 1.5em;
    border-radius: 2em;
    color: #fff;
    background: #0fb8f6;
}
.btn__ok:hover {
    background: linear-gradient(139.21deg, #32BCA3 14.62%, #2196F3 124.55%);
}

.btn_teg {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    padding: 0.4em 0.8em;
    border-radius: 2em;
}


.btn__theme {
    border: none;
    text-decoration: none;
    border-radius: 2em;
    cursor: pointer;
    font-size: 14px;
    padding: 0.7em 1.5em;
    background: none;
    color: #E5E5E5;
    border: 1px solid #36393A;
    margin-left: 10px;
}
.btn__theme:hover {
    background: #353636;
}
body.dark .btn__theme {
    background: none;
    border: 1px solid #303030;
    color: #c4c4c4;
    
}
body.dark .btn__theme:hover {
    background: nine;
    border: 1px solid #717175;
    color: #c4c4c4;
    
}
/*------------------------------------------*/





/*------------------------------------------*/
footer {
    margin-top: -20px;
    width: 100%;
    height: 200px;
    background: #111111;
    border-radius: 18px 18px 0px 0px;
}
@media screen and (max-width: 720px) {
    footer {
        border-radius: 15px 15px 0px 0px;
    }
}
/*------------------------------------------*/





/*------------------M-BTN-------------------*/
.m__btn {
    border-radius: 12px;
    color: #ffffff;
    font-size: 15px;
    padding: 0.7em 1.5em;
}
body.dark .m__btn {
    color: rgb(255 255 255);
    font-weight: 400;
    
}
/*------------------------------------------*/



/*-----------------BTN-NONE-----------------*/
.btn__none {
    display: inline-block;
    text-decoration: none;
    /* cursor: pointer; */
    border: 1px solid #36393A;
    font-weight: 600;
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); */
    background: none;
}
.btn__none:hover {
    background: linear-gradient(136.2deg, #00D1FF 16.28%, #FA00FF 224.54%);
    border: 1px solid #36393A;
    /* transition: 0.8s; transform: scale(1.00); */
}
/*------------------------------------------*/

/*------------------------------------------*/
.btn__start {
    text-decoration: none;
    /* background: linear-gradient(136.2deg, #32BC59 16.28%, #2196F3 224.54%); */
    background: linear-gradient(120deg, #3AD1AD 30%, #0D8BA7 90%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.20);
}
body.dark .btn__start {
    font-weight: 400; 
}
.btn__start2 {
    text-decoration: none;
    background: linear-gradient(136.2deg, #FFBC10 16.28%, #FA00FF 224.54%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.20);
}
.btn__start:hover {
    background: linear-gradient(136.2deg, #00D1FF 16.28%, #FA00FF 224.54%);
}
.btn__start2:hover {
    background: linear-gradient(136.2deg, #00D1FF 16.28%, #FA00FF 224.54%);
}
/*------------------------------------------*/