body {
    font-family: 'Inter', sans-serif;
    background: var(--fon-light);
}
body.dark {
    background: #141414;
}



/*------------------------------------------*/

h3 { color: #6f6f72; font-size: 12px; font-weight: 400;}

/*------------------------------------------*/
.flex__stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}


.ico__back:hover {
	background-color: #f1f1f1;
	
}

#stopwatch {
    font-size: 52px;
    font-weight: 500;
    width: 230px;
    /* position: absolute; */
    /* top: 45%;
    left: 50%;
    transform: translate(-50%, -45%); */
}
@media screen and (max-width: 720px) { #stopwatch { font-size: 46px; width: 205px; } }



#timer-buttons {
    padding-top: 30px;
    /* position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-51.6%, -45%); */
}
#timer-buttons {
    display: inline;
    /* padding-left: 10px; */
}
button {
    padding: 0.7em 1.5em;
    font-size: 15px;
    font-weight: 500;
    border-radius: 24px;
    border: none;
    background: #1D1D1E;
    color: rgb(214, 214, 214);
    margin: 5px;
    cursor: pointer;
    outline: none;
}

ul {
    list-style-type: none;
}






/*------------------------------------------*/

/*-------------------------------------------*/
.flex__batt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 5px; */
    /* margin-left: 12px; */
}
.btn__all {
    color: #333336;
    font-size: 15px;
    border-radius: 2em;
    padding: 0.4em 1.2em;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #4E4E54;
}
body.dark .btn__all {
    color: #6f6f72;
}
.btn__all2 {
    color: #4E4E54;
    font-size: 15px;
    /* border: 1px solid #4E4E54; */
    font-weight: 500;
    border-radius: 2em;
    padding: 0.4em 1.2em;
    margin-top: 10px;
    margin-right: 10px;
}
.btn__all2:hover {
    color: rgb(211, 211, 211);
    /* border: 1px solid #32BCA3; */
    background: #1D1D1E;
}