body {
    font-family: 'Inter', sans-serif;
    /* transition: background-color 0s; */
    /* background: var(--fon-light); */
    /* min-height: 200vh; */
}
body.dark {
    /* background: #19191A; */
    background: var(--fon-dark);
    /* background: #141414; */
}


/*------------------------------------------*/
.buttom {
    width: 100%;
    height: 20px;
    background: #fff;
    border-radius: 2em 2em 0px 0px;
}
body.dark .buttom {
    background: var(--fon-dark);  
}
.top__body {
    background: #e9e9e9; 
    padding-top: 15px;
    transition: 0.3s;
}
.top__body:hover {
    background: #e9e9e9; 
    padding-top: 25px;
}
body.dark .top__body {
    background: #060606;
}
.line_menu {
    border-radius: 2em;
    height: 3px;
    width: 10%;
    margin: 4px auto;
    background: #a5a5aa;
}
.top__body {
    animation-duration: 0.3s;
    animation-name: an4;
    transition-timing-function: ease-out;
  }

@keyframes an4 {
    from {
        padding-top: 120px;
    }
    
    to {

    }
}

.list {
    margin-left: 24px;
    margin-right: 24px;
    height: 8px;
    background: #cdcdcd;
    border-radius: 2em 2em 0px 0px;
    transition: 0.6s;
}
body.dark .list {
    background: #1A1A1A;
}
@media only screen and (max-width: 700px) {
    .top__body {
        padding-top: 10px;
    }
    .list {
        height: 6px;
    }
}
/*------------------------------------------*/

.head__it {
    margin-left: 15px;
}
.ico__back {
    display: block;
    height: 2.5em;
    width: 2.5em;
    border-radius: 8px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.2em 1.2em;
    transition: 0.2s;
}
.ico__back:hover {
	background-color: #f1f1f1;
	transform: scale(1.04);
}
body.dark .ico__back:hover {
	background-color: #1D1D1E;
	transform: scale(1.04);
}
.ico__back { background-image: url(../ico/top_dark.svg); }
body.dark .ico__back { background-image: url(../ico/top.svg); }
/*------------------------------------------*/

#convas {
    /* padding-bottom: 20px; */
    background: #fff;
    /* transition: 0.3s; */
}
@media screen and (max-width: 720px) {
    #convas {
        padding-bottom: 15px;
    }
}
body.dark #convas {
    background: none;
    
}
#convas2 {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fff;
    min-height: 100vh;
    /* transition: 0.3s; */
    /* transition: 0.6s; */
}
@media screen and (max-width: 720px) {
    #convas2 {
        padding-top: 20px;
    }
}
body.dark #convas2 {
    background: none;
    
}
#convas2 {
    animation-duration: 0.6s;
    animation-name: an1;
    transition-timing-function: ease-out;
  }

@keyframes an1 {
    from {
        margin-top: 60px;
        padding: 50px 0;
    }
    
    to {

    }
}
/*------------------------------------------*/

h3 { color: #6f6f72; font-size: 12px; font-weight: 400;}

/*------------------------------------------*/
.flex__stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}


.ico__back:hover {
	background-color: #f1f1f1;
	
}

#stopwatch {
    font-size: 52px;
    font-weight: 500;
    width: 230px;
    /* position: absolute; */
    /* top: 45%;
    left: 50%;
    transform: translate(-50%, -45%); */
}
@media screen and (max-width: 720px) { #stopwatch { font-size: 46px; width: 205px; } }



#timer-buttons {
    padding-top: 30px;
    /* position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-51.6%, -45%); */
}
#timer-buttons {
    display: inline;
    /* padding-left: 10px; */
}
button {
    padding: 0.7em 1.5em;
    font-size: 15px;
    font-weight: 500;
    border-radius: 24px;
    border: none;
    background: #1D1D1E;
    color: rgb(214, 214, 214);
    margin: 5px;
    cursor: pointer;
    outline: none;
}

ul {
    list-style-type: none;
}






/*------------------------------------------*/

/*-------------------------------------------*/
.flex__batt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 5px; */
    /* margin-left: 12px; */
}
.btn__all {
    color: #333336;
    font-size: 15px;
    border-radius: 2em;
    padding: 0.4em 1.2em;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #4E4E54;
}
body.dark .btn__all {
    color: #6f6f72;
}
.btn__all2 {
    color: #4E4E54;
    font-size: 15px;
    /* border: 1px solid #4E4E54; */
    font-weight: 500;
    border-radius: 2em;
    padding: 0.4em 1.2em;
    margin-top: 10px;
    margin-right: 10px;
}
.btn__all2:hover {
    color: rgb(211, 211, 211);
    /* border: 1px solid #32BCA3; */
    background: #1D1D1E;
}