body {
    font-family: 'Inter', sans-serif;
    transition: background-color 0s;
    background: var(--fon-dark);
    /* min-height: 200vh; */
}
body.dark {
    /* background: #19191A; */
    background: var(--fon-dark); /*Цвет фона*/
    /* background: #141414; */
}


/*------------------------------------------*/

#convas {
    /* padding-bottom: 20px; */
    transition: 0.3s;
}
@media screen and (max-width: 720px) {
    #convas {
        padding-bottom: 15px;
    }
}
body.dark #convas {
    background: none;
    
}
#convas2 {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #fff;
    border-radius: 18px 18px 0px 0px;
    min-height: 100vh;
    transition: 0.3s;
    /* transition: 0.6s; */
}
@media screen and (max-width: 720px) {
    #convas2 {
        padding-top: 20px;
        border-radius: 15px 15px 0px 0px;
    }
}
body.dark #convas2 {
    background: #1B1B1B;
    border-top: 1px solid #0B0B0C;
}
#convas2 {
    animation-duration: 0.6s;
    animation-name: an1;
    transition-timing-function: ease-out;
  }

@keyframes an1 {
    from {
        margin-top: 60px;
        padding: 50px 0;
    }
    
    to {

    }
}
/*------------------------------------------*/


/*------------------------------------------*/
.flex__stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}



#stopwatch {
    font-size: 52px;
    font-weight: 500;
    width: 230px;
    /* position: absolute; */
    /* top: 45%;
    left: 50%;
    transform: translate(-50%, -45%); */
}
@media screen and (max-width: 720px) { #stopwatch { font-size: 46px; width: 205px; } }



#timer-buttons {
    padding-top: 30px;
    /* position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-51.6%, -45%); */
}
#timer-buttons {
    display: inline;
    /* padding-left: 10px; */
}
button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 24px;
    border: none;
    color: var(--text-dark);
    margin: 5px;
    cursor: pointer;
    outline: none;
}
ul {
    list-style-type: none;
}






/*------------------------------------------*/

/*-------------------------------------------*/
.flex__batt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 5px; */
    /* margin-left: 12px; */
}
.btn__all {
    color: #4E4E54;
    font-size: 15px;
    border-radius: 2em;
    padding: 0.4em 1.2em;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #4E4E54;
}
.btn__all2 {
    color: #4E4E54;
    font-size: 15px;
    /* border: 1px solid #4E4E54; */
    font-weight: 500;
    border-radius: 2em;
    padding: 0.4em 1.2em;
    margin-top: 10px;
    margin-right: 10px;
}
.btn__all2:hover {
    color: #fff;
    /* border: 1px solid #32BCA3; */
    background: linear-gradient(
        139.21deg
        , #32BCA3 14.62%, #2196F3 124.55%);
}