body {
    font-family: 'Inter', sans-serif;
    transition: background-color .3s; /*Плавный цвет фона*/
    /* background: #FCFCFC; */
    /* background: #101010; */
    background: linear-gradient(180deg, #1B1B1B 0%, #000000 100%);
	background: #151516;
    min-height: 150vh;
    color: #272727;
}
body.dark  {
    background: var(--fon-light); /*Цвет фона*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Можно удалить*/
}


.prew {
	width: 100%;
	border-radius: 12px;
	padding-top: 250px;
	background: #63636344;
	margin-top: 60px;
	margin-bottom: 60px;
}
.prew2 {
	width: 100%;
	border-radius: 12px;
	padding-top: 500px;
	background: #f00e43;
	margin-top: 160px;
	margin-bottom: 60px;
}


.btn__akk {margin-right: 15px; margin-left: 15px;}

/*------------------------------------------*/
.always__margin {
	padding: 40px;
}


/*------------------------------------------*/

fieldset {
	padding: 10px;
	border-radius: 4px;
	color: rgb(221, 221, 221);
	font-weight: 500;
}

legend {
	padding-left: 10px;
	padding-right: 10px;
}
/*--------------------X---------------------*/
sup {
	color: #f00e43;
	font-weight: 400;
}
/*------------------------------------------*/

/*------------------------------------------*/