body {
    font-family: 'Inter', sans-serif;
    /* transition: background-color 0s; */
    /* min-height: 200vh; */
}
body.dark { background: var(--fon-dark); }
/*------------------------------------------*/

/*------------------------------------------*/


/*------------------------------------------*/

.blur {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
    padding-left: 12px;
    padding-right: 12px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.9%, #0D0D0E 100%);
    /* padding: 10%; */
    /* border-radius: 12px 12px 0px 0px;
    border: 1px solid #0B0B0C; */
    /* background: rgba(0, 0, 0, 0.5); */
    /* backdrop-filter: blur(8px); */
}
body.dark .blur {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.9%, #141414 100%);
}
@media only screen and (min-width: 720px) {
    .blur {
        justify-content: center;
    }
}
.blur h1 {
    color: #fff;
    padding-bottom: 10px;
}
.fon {
    /* border-radius: 12px 12px 0px 0px;
    background: url(../img/pexels-griffin-wooldridge-5580069.jpg) no-repeat center top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height: 100vh;
}
.fon {
    /* position: relative;  */
    background: url(../img/fon1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 600px;
}
@media only screen and (min-width: 720px) {
    .fon {
        height: 100vh;
    }
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media only screen and (min-width: 720px) {
    .flex {
        align-items: center;
    }
}
/* @media screen and (max-width: 920px) {
    .hin {
        min-height: 300px;
        min-width: 400px;
    }
}
@media screen and (max-width: 720px) {
    .hin {
        min-height: 250px;
        min-width: 300px;
    }
} */

/*------------------------------------------*/

fieldset {
	padding: 10px;
	border-radius: 4px;
	color: var(--text-dark);
	font-weight: 500;
}
body.dark fieldset {
    color: var(--text-light);
	font-weight: 400;
}
legend {
	padding-left: 10px;
	padding-right: 10px;
}
/*--------------------X---------------------*/
sup {
	color: #f00e43;
	font-weight: 400;
}
/*------------------------------------------*/
.icon__menu {
    margin-left: 20px;
}
/*------------------------------------------*/

.text__prew {
    font-size: 32px;

}
@media only screen and (max-width: 720px) {
    .text__prew {
        font-size: 28px;
    }
}
p {
    margin-bottom: 30px;
    color: #818185;
    font-weight: 500;
}

/* .header {
    background: var(--fon-dark);
} */


/*-------------------LOGO--------------------*/
.icon__logo {
    display: block;
    height: 2.5em;
    width: 2.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2.2em 2.2em;
    margin-right: 1rem;
}
.icon__logo { background-image: url(../ico/logo.png); }
/*-------------------------------------------*/